[2015-05-18 18:20] Stasik0 commented on #245
Cant we use source time stamp for hashing ie to force its update?

[2015-05-20 14:15] ichrispa commented on #251
I had some time to find out what happens here and the answer is the following:

The server will periodically enter this part of server_cleanup() in ua_server.c:

[code]
When this loop is entered and a session is still valid:
  * `now` will never be updated.
  * `sentry` will not advance.
One of the two has to be fixed. Either sentry=next; must be updated outside the if()-block, or we need to updat

[2015-05-20 14:27] ichrispa commented on #251
Quote from the Spec on Timeout Value in SessionCreate:
[code]
So my understanding is that each time a message is received by the server, this the validTill value should be updated to now+TimeOutValule? Is this something each service should do on its own (unlikely) or should this be handeled in processMSG() ?

[2015-05-20 14:47] FlorianPalm commented on #251
Like you say within processMsg, as new valid-time should be set for every service which relies on a session.

[2015-05-20 22:12] jpfr commented on #251
Hey @ichrispa ,

master and 0.1 do this already.
I will soon make a merge of master into dev to keep the branches in sync.
Sorry if I delayed this for too long. Things were a bit hectic prior to 0.1 (and still are outside of open62541...).

Server cleanup: https://github.com/acplt/open62541/blob/master/src/server/ua_server.c#L119
Calls session cleanup: https://github.com/acplt/open62541/blob/maste

[2015-05-21 07:55] ichrispa commented on #251
Hi @jpfr,

I am both happy to have identified this problem correctly and that you already solved it. I'll remove my hack in the dev branch and we can consider this issue closed :)

[2015-05-21 07:55] #251 closed

[2015-05-21 19:17] Stasik0 commented on #234
I'd like to have an example project file on that under "bindings"

[2015-05-21 19:18] #232 closed

[2015-05-21 19:37] jpfr commented on #234
parts of the project are nice and compliant.
new bindings will not be. at least initially.
we need to make clear what parts of the project are in what shape.

[2015-05-21 19:37] Stasik0 commented on #246
@billran hey, i just gave jnaerator a try (on linux)
```$java -jar jnaerator-0.11-shaded.jar -mode StandaloneJar libopen62541.so open62541.h```

gives me
[code]
do you still have the problems?

[2015-05-21 19:39] Stasik0 commented on #234
yea but we need at least some "entry points", maybe spawning an open62541-bindings repository?

[2015-05-22 12:37] ichrispa opened #253 "State of Subscription implementation"
Greetings,

the development branch now has support for subscriptions (Create, Delete) and monitoring (Add, Delete) as well as publish. All three are in a very rudimentary form, as there is currently no Event system in place. As far as necessary changes go, I advise reading the FIXME tags in `Service_Publish()`.

For reference, the heavy lifting of the current implementation is handled by two funct

[2015-05-22 14:50] Stasik0 commented on #253
@ichrispa wow, great news! I will try it asap. The multi-threaded version, does however fail https://travis-ci.org/acplt/open62541/builds/63651540#L731 are these major issues or can you fix them easily?

[2015-05-22 15:04] Stasik0 commented on #253
okay, we badly need to reintegrate master into dev, there is a couple of bugs in the dev version...

however, I can not create a subscription with my UaExpert v 1.3.1. When I pull "the answer" to the "Data Access View", I become a ```Create Subscription failed [ret=BadUnknownResponse]```.
@ichrispa how do you test the subscriptions?

[2015-05-22 16:10] ichrispa commented on #253
Multithreading and tests: I will look into it.

I compile with -DENABLESUBSCRIPTIONS and then drag the item in UA_Expert... weird. There is obviously still a lot of compat testing to be done here.

I will look into it asap. However 1.3.1 just crashed on my linux (no libpng14). I'm running 1.2.2.

[2015-05-22 16:33] Stasik0 commented on #253
My bad, I did not activate subscription flag... Will test asap

[2015-05-22 16:36] ichrispa commented on #253
@Stasik0: Neither builds failing the tests are using subscriptions or my headers. These errors must be remnants of pre-fork bugs you have already fixed in master or 0.1. I suggest we merge the master and dev, then check if these errors persist.

I can't reproduce the error on Win7/UAExpert 1.3.1. Subscriptions apear to be working as they do under Linux/UAExpert 1.2.2.

I have not patched the clean

[2015-05-22 16:48] jpfr commented on #253
ok. master just got merged into dev.
it compiles. but i didn't test it thoroughly.

should be could. the new subscription code is mostly self-contained.

[2015-05-22 16:53] jpfr commented on #253
Here's the current diff against master. The three _subscription files have ~1k lines of code. Thats good and small!
[code]

[2015-05-22 17:42] ichrispa commented on #253
Compiles and runs perfectly ^^ This is the first time I ever monitored ServerTime for more than 7 seconds at a time - glorious :)

@Stasik0 can you confirm that subscriptions are working now?

[2015-05-22 18:42] Stasik0 commented on #253
wooow i confirm it working!!

just being a nagger: there are memleaks and memory problems indicated in valgrind

```valgrind --leak-check=full ./server_static```

[2015-05-22 19:11] ichrispa commented on #253
Your're not nagging, but perfectly correct. I know where the leaks are, but I've been putting of fixing them for getting the subscriptions to run at all.

Subscriptions use a pretty deeply nested structure of Notifications containting datasources containing variants that might contains pointers or bytestring or... That nested structure is created when notifications create their queues; then they a

[2015-05-22 19:43] jpfr commented on #253
We can just use the event system in ua_server_worker.c

- If a notification needs to be sent with no delay, either do it directly (before answering the service that triggered the notification) or add a "timed-work" with the current datetime to the server. That will be executed in the next main-loop iteration of the server.
- For interval notifications, just add a "repeated timed-work" with an inte

[2015-05-23 09:12] jpfr commented on #253
Hey @ichrispa ,

1. I just split `ua_subscription.h` out from `ua_subscription_manager`. Was that ok?

You extensively use the lists in queue.h. That's good.
Normally, it should not even be necessary to use the lh_first, etc. pointers.
That makes the code a bit easier to read.

For traversing lists, there is this shortcut:
[code]
For traversing lists and removing its elements, we just use this pat

[2015-05-23 11:42] ichrispa commented on #253
@jpfr: Splitting the header is perfectly ok by me. What I submitted is a working state - that doesn't meen its orderly (though I tried to keep it that way) ^^

FOREACH() has several pitfalls: Most notably it ends with a NULL-Pointer in the iterated item. That is not always desirable, for example when you want to have a fall-through as in 'if none match, use the last one'. That's also the case when

[2015-05-23 15:03] ichrispa commented on #253
@Stasik0: I fixed several of the memleak issues, but I'm kind of stumped by one.

Publish copies the toplevel NotificationsMessage into the response (which is a NS0 type). I expected this to be deallocated by UA_deleteMembers() when the reply is send, but apparently its not. Safe for stepping through the message deletion process, is there any quick answer as to why NotificationsMessages are not de

[2015-05-23 17:49] Stasik0 commented on #253
@ichrispa: our _copy functions just allocate the memory by themselfs (probably, for historical reasons)... I fixed it...

[2015-05-24 00:49] ichrispa commented on #253
@Stasik0: That segfault was mine. I pushed a fix. I can't reproduce it on my 32 Bit laptop, but my work computer segfaults sure enough. I hope that was the only place where I did that...

[2015-05-24 11:49] Stasik0 commented on #253
okay, the segfault is gone

1 more question: in UaExpert i have 2 subscriptions: the.answer and current time. Then in the second thread i call "./client". The time updates nicely, while "the.answer" seems to stay unchanged in UaExpert. What is the deal?

[2015-05-24 18:02] ichrispa commented on #253
I did the following: I started the server, then subscribed to 'the.answer'. I then ran the example client - the answer stayed 42. When I created a second new subscription the 'the.answer', the second item showed the value 43. I halted the server in the debugger and took a look at the monitored item struct. Not suprisingly, there where two monitored items pointing to two different node addresses.

[2015-05-24 19:25] Stasik0 commented on #253
For (2) we need to ask @jpfr about immutable operations.

[2015-05-25 21:28] jpfr commented on #253
Yes, it was a deliberate decision to replace the entire nodes upon edits, since that can be done with an atomic pointer compare-and-switch.

Otherwise, we would have to protect the node currently being edited with mutexes/semaphores. Writers and readers would both need to lock always. Looking 5 years ahead (with 32-core processors already in servers today), we could easily spend 98% of the cores'

[2015-05-26 05:53] Stasik0 commented on #253
@jpfr, @ichrispa cant we go a pragmatic way and have best of two worlds?

for single-threaded - just replacing the variant and have subscriptions work with pointers
for multi-threaded - replace the node and have subscriptions work with nodeids/hashtable lookups?

or will it introduce too much untestable code?

I have just committed a version where write just updates the variant and not the node it

[2015-05-26 07:43] jpfr commented on #253
It's a good idea to just replace the variant in single-threaded mode. We do that already in places where it was easy enough to separate mt / non-mt code paths.

But to just point into a node, we would have to remove the function `ua_nodestore_replace` (and `ua_nodestore_delete`) entirely for singlethreaded. Otherwise, it will be very difficult to track if a node still exists or has been garbage co

[2015-05-26 11:43] ichrispa commented on #253
@Stasik0 your version did not change the new-object-address problem. Here's a screenshot of how I see it manifest itself. As you can see "the.answer" is monitored twice, and both monitoredItems still have different node addresses - the first one actually returns the correct value.

![monitored_nodes](https://cloud.githubusercontent.com/assets/2773265/7811718/c71e70cc-03ac-11e5-9362-5c3bf881b69f.pn

[2015-05-26 12:23] jpfr commented on #253
The performance penalty of the lookup is on the order of 200-300 cycles.
That's similar to getting data from RAM, i.e. accessing data outside of the processor cache.
On a 3Ghz machine that gives 10mio lookups per second and core.

[2015-05-26 13:53] Stasik0 commented on #253
@ichrispa okay, it turns out that i mixed up "ifdef" and "ifndef" *fail*. Now the problem is that nodestore_get returns const pointer that i cannot change. I do not want to update too much of the code, therefore i will just revert my commit.

[2015-05-26 14:54] ichrispa opened #254 "client.c cannot link to UA_calcSizeBinary?"
While I somehow got this to work on Friday, I broke it somehow and don't know whats wrong.

I am testing the AddNodes service in the client. I need to pack the NodeAttributes into an ExtensionObject. But calling either `UA_calcSizeBinary()` or `UA_encodeBinary()` (or their respective type-macros) always results in a link error:

     Linking C executable client
     CMakeFiles/client.dir/examples/

[2015-05-26 15:30] ichrispa commented on #254
Fixable by adding `__attribute__ ((visibility ("default")))` (`UA_EXPORT`) to calcSizeBinary/encodeBinary, but I'm not sure this is ideal.

[2015-05-26 15:31] jpfr commented on #254
Objdump tells you it is a local symbol (the `l` in the second column).
Are you trying to link against a precompiled lib? Only the functions in the /include directory are exported. Try to add `UA_EXPORT` to the function signature in the header.

[2015-05-26 15:32] jpfr commented on #254
Jup. That's the way. We currently hide everything that is not in the /include directory.

[2015-05-26 16:51] ichrispa commented on #254
OK, will use this as a workaround and maybe add a "nicer" Node-Create proxy function to UA_Client.c later on.

[2015-05-26 16:51] #254 closed

[2015-05-27 10:06] ichrispa opened #255 "Creating new nodes"
Hi everyone,

for our current project we need to add nodes using the client (variables, types, objects, etc.). I have fumbled around with it (fixing some minor issues in 03aeed8bd446e59fbdce9734844c9f19b7bb0183) could create new nodes with relative ease.

Adding nodes is principally possible thanks to @jpfr's work and I don't see a problem with it on the serverside. But the clientside is kind of u

[2015-05-27 10:37] jpfr commented on #255
Good idea to have some helpers in the client for that.
Afaik, we currently don't give entire nodes to the users. Only the nodeids and the services to pull the different attributes...

If I understood you correctly, the main difficulty is that the Attribute-structs for the nodes are "hidden" in an extensionobject in the server signature.
What about differentiating by the node type, `createVariableN

[2015-05-27 12:40] ichrispa commented on #255
Is something like this ok? https://github.com/acplt/open62541/blob/dev/src/client/ua_client.c#L609

If you're ok with it, I'm going to add some proxies for Variable[Type]Nodes and Object[Type]Nodes and wrap the addNodes service into a new ENABLE_NODEMANAGEMENT option.

My current exampleClient creates 'TheGreatNode' successfully, so I would slightly expand the example to create a Folder/Object and

[2015-05-27 13:49] Stasik0 commented on #255
Please, bring it to a dedicated branch, otherwise we will never manage to merge clearly.

[2015-05-27 15:47] ichrispa commented on #255
@Stasik0: I branched master to client_createNodes and added my recent work from dev there; I left some bugfixes behind in the current dev branch, but the client is back to its pre-me state.

I can currently add objects and variables. I'd like to keep some options unexposed to the client - if the user really wants to change these he can still issue write requests for the attributes in question. If

[2015-05-27 15:49] Stasik0 commented on #255
Thank you for branching, yes its fine for me, @jpfr, r u ok with that too?

[2015-05-27 16:34] jpfr commented on #255
Great! Imho you don't even need to `#ifdef` the createnode functions. Those are standard services after all..

Concering the signatures in `ua_client.h`. Normally the userWriteMask should be different for every user. But we can't know about the users at that point.
Normally, there would be some per-node role-based access policy on the server. Like an active directory. But that is left to the diffe

[2015-05-27 17:08] ichrispa commented on #255
Feel free to remove the ifdefs ^^

Here's a weird one: When creating OBJECTTYPES (nodeclass 4), they always read as objects. The server adds an OjectType to its nodestore (traced from Wireshark all the way done to UA_NodeStore_insert); but when being read back, the server sends an OBJECT (nodeclass 1).  There's no problem with any of the predefined types though...

Does that sound like a familiar

[2015-05-28 06:44] Stasik0 commented on #255
@ichrispa everything is good, you just mixed functions up in client.c, node called "TheNewObjectType" is created using "UA_Client_createObjectNode" while node called "TheNewGreatNode" is created using "UA_Client_createObjectTypeNode". Therefore, "TheNewGreatNode" is a type node even in UaExpert

[2015-05-28 10:18] ichrispa commented on #255
Thank @Stasik0. That one earns me the fail of the week award.

[2015-05-28 11:21] jpfr commented on #255
We all have earned those at one point. :-)

[2015-05-29 20:25] jpfr commented on #255
Just did. ^^

[2015-05-29 20:29] Stasik0 commented on #255
In client or server? Or both?

[2015-05-29 20:45] jpfr commented on #255
Currently on both.
- Removing the service has nearly no savings. Since we use the same functions to create the address space at startup
- Access rights (who is allowed to add nodes) is a whole different topic that needs a solid solution. Say for 0.3 and onward.

[2015-05-29 20:48] Stasik0 commented on #255
Ack

[2015-06-03 07:48] stephanhensel opened #256 "Errors when building with MS Visual Studio Enterprise 2015 RC"
Hello everybody,

I tried to build open62541 (dev branch) with MS Visual Studio Enterprise 2015 RC. In CMake I enabled BUILD_DOCUMENTATION, BUILD_EXAMPLECLIENT and BUILD_EXAMPLESERVER. When I try to build in Visual Studio I get the errors shown in the block beneath.
I think there are two separate errors. At first in ua_types_encoding_binary.h the restrict keyword is not known by Visual Studio. Rep

[2015-06-03 07:55] Stasik0 commented on #256
@stephanhensel Hi, the problem is that, at least i, have to testing environment for MSVS. Could you try replacing unistd.h by io.h? Could you also try to apply your fix? You can do it both in a fork, and then apply for a pull-request (https://help.github.com/articles/using-pull-requests/)

[2015-06-03 09:22] Stasik0 commented on #256
we continue to discuss in PR

[2015-06-03 09:22] #256 closed

[2015-06-04 17:45] jpfr commented on #253
Hey everybody,

I just pulled master into dev. Before the pull, subscriptions did not update in UAExpert on my box. And stopping the server with ctrl-c segfaulted.
Now, at least I can ctrl-c exit without a segfault. Still no updates in UAExpert.

The big news is that we have `UA_Server_addRepeatedJob` and  `UA_Server_removeRepeatedJob`. Both can be called asynchronously from within the worker thre

[2015-06-04 18:35] Stasik0 opened #258 "TCP Network layer needs hardening"
Hey,

I got someone on the mailing list who has problems with oversized responses sent by server. In this example the client is used to query a node that has an array of 100000 int32s. Currently both the server and the client are blocked.

Well for client it is okay, but having server blocked is a big problem. Currently I am not even sure why the server is blocking (obviously it tries to send a bu

[2015-06-04 18:52] Stasik0 commented on #253
Subscriptions work here!

[2015-06-05 08:37] ichrispa commented on #253
@jpfr: Do you have steps that can reproduce the segfaulting behavior? My subscriptions run in the precise way they always did in UA Expert (i.e. working as expected).

Concerning the timeWorkItem: I will eventually come around to equipping subscriptions with that mechanism. Please note that MonitoredItems do not have a sampling interval, only a trigger condition (currently: change).

The current s

[2015-06-05 09:10] jpfr commented on #253
I misconfigured something. Subscriptions work for me now. The segfault is already fixed on dev.
So all is well!

Then we will have to change the server a bit. I believe this affects only the publish service. Maybe we only need to add a return statement to the publish-case in the big switch in `ua_server_binary.c`.

What is currently happening is that the client tries to pipeline requests. But we a

[2015-06-05 09:41] jpfr commented on #253
Those **are** the requests! Just think of the queued requests as delayed responses.

[2015-06-05 14:54] Stasik0 commented on #253
@jpfr this can be a valid idea, in the swtich case - add message to queue in the session and return. Then on some event or time-trigger dequeue the message from the queue and pass it to whatever is now in the switch case i.e. service invocation etc. How do we prevent server from being overflown by the requests?

[2015-06-05 15:44] jpfr commented on #253
The time-triggered subscription does not need to get "back into the switch statement".
Since it knows the users session, it can just take the connection from there and do `connection->send(bytestring)` all by itself. Like a real grownup! :-)

There is a mechanism where the server refuses publish requests and returns an error code that the queue is full. That should stop the client from being too q

[2015-06-07 08:42] jpfr commented on #253
Ok. I just pushed the `UA_SecureChannel_sendBinaryMessage` to master and dev.
It unifies quite a bit of duplicated functionality in the server and the client

And now, we can send messages outside of the immediate request/response path.
On only needs to know the requestId of the message (we are responding to).
However, the client does not yet demultiplex responses that come out-of-order.

So we ha

[2015-06-08 11:29] ichrispa commented on #255
Is this feature closable/merge worthy? Or are there any improvements pending?

[2015-06-08 11:31] ichrispa commented on #253
Currently no. Though ultimately it would of course be cool if wrting access to the nodestore (change, statuschange) could be tracked and reported.

[2015-06-08 11:53] Stasik0 commented on #255
is it working? if yes, i'd merge it in

[2015-06-08 11:55] Stasik0 commented on #253
@ichrispa, this can only be done for nodes (like node deletion). Content updates in variables need own "notification" methods we need to build in (which is roughly simple)

[2015-06-08 14:48] jpfr commented on #253
@ichrispa Ok. How do you want to have it? Should the node call "its" monitoreditems when it gets changed?

[2015-06-09 06:53] pfpmeijers opened #262 "Message buffer not reused and instead allocated for each transaction"
For each transaction the message buffer looks to be allocated (and  freed afterwards) instead of being reused. Because the message buffer size is fixed (fixed maximum), it sounds more efficient to reuse the same memory block.

See e.g. valgrind output of a test doing multiple read transactions:
==36267==
==36267== HEAP SUMMARY:
==36267==     in use at exit: 0 bytes in 0 blocks
==36267==   total he

[2015-06-09 09:47] jpfr commented on #262
Hey @pfpmeijers

that's a good point. Currently, the network layer provides a callback to get buffer memory and to release it. So we can change that without even touching the library itself.

Anybody wants to take this up? I'm blocked until next week...

[2015-06-09 15:02] HolgerJeromin opened #263 "check python install"
open62541 needs a python and python-lxml install (always?) so it would be nicer to check the availability somewhere. Otherwise you get a ugly abort from make.
This is especially important for windows...

[2015-06-09 16:07] jpfr commented on #262
By the way, those allocations should be very cheap. The libc gets a block of memory (a few MB) from the operating system and handles that all in userspace.
In a sense, we already reuse memory again and again...

[2015-06-09 18:39] Stasik0 commented on #263
You need em to generate code from xml files. Checking for py in cmake is easy, does anyone have a snipplet for checking for lxml?

[2015-06-09 22:34] FlorianPalm opened #265 "Memory alignment problem in decoding functions"
It seems we have a memory alignment problem on certain systems which leads to faults when dereferencing pointers to int32 etc. By replacing the new decoding functions with the old ones the bug seems to be gone.
http://stackoverflow.com/questions/12451230/output-from-arbitrary-dereferenced-pointer

[2015-06-10 07:08] HolgerJeromin commented on #263
Thank you @bilach and Stasik0!

[2015-06-10 07:35] Stasik0 commented on #263
@ichrispa is your srcipt runnable with Pyhton 3? or is it 2.7 only?

[2015-06-10 07:45] HolgerJeromin commented on #263
@Stasik0: did you meant chris or bilach?
My windows machine has this output:

[code]
So whole thing is not optimal right now :-)
We probaby should use `PYTHON_EXECUTABLE`.

[2015-06-10 07:47] Stasik0 commented on #263
i meant @ichrispa and his ns0 generation script, they may not run with py3 at all.
@HolgerJeromin could you tweak a bit on the script in CMakeLists?

[2015-06-10 08:40] #263 closed

[2015-06-10 11:58] Stasik0 opened #267 "Performance of array decoding/encoding"
Currently there is a loop

https://github.com/acplt/open62541/blob/983c50554e7869f1457e8eda0d8f2ae3aeb251a4/src/ua_types_encoding_binary.c#L61

For some items (at least for ByteStrings) we can probably shortcut it with a memcpy.

[2015-06-10 19:56] pfpmeijers opened #270 "BADDECODING error when large message is not complete"
In case of sending large messages (e.g. large arrays) then BADDECODING errors occur.

This is a result from the function UA_Connection_completeMessages() which at open62541.c, line 5386, resets the returned buffer length to -1, in case the message is not complete yet:
    if(end_pos == 0) {
        /* no complete message in current */
        connection->incompleteMessage = current;
        UA_Byt

[2015-06-10 20:03] pfpmeijers commented on #262
Typically doing constant reallocations (free + malloc) could lead to memory
fragmentation, in particular when other memory requests can come in between
 Though I don't know whether that is the case here.
Grt, Patrick

On Tue, Jun 9, 2015 at 6:07 PM, Julius Pfrommer <notifications@github.com>
wrote:

[2015-06-11 07:24] pfpmeijers commented on #270
The fix as mentioned in previous comment is not ok in general.
If you request a non-existing end point, then the loop will block forever instead of the client returning "No suitable endpoint found".
Some timeout mechanism to be added?

[2015-06-11 07:43] Stasik0 commented on #270
Isnt the -1 coming from the timeout, already? Do we set SO_RCVTIMEO?

[2015-06-11 09:10] pfpmeijers commented on #270
SO_RCVTIMEO doesn't ring a bell to me.
The -1 is set in the code as I listed in the issue description - because
the received data is not complete yet.
Grt, Patrick

On Thu, Jun 11, 2015 at 9:43 AM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-11 12:20] ichrispa commented on #270
@pfpmeijers As far as I know the server does not support chunking. If you message is too large, the tcp transport will segment the data without propperly chunking the message. The result is something akin to the error you mentioned.

Use wireshark or another packet analyzer to check if this occurs.

[2015-06-11 15:04] ichrispa opened #271 "dev branch client does not set requestHeader infos"
Hi all,

I was wondering why the client in the dev branch can't create a subscription... and some further looking into the problem showed that the client can't really do anything.

Everyting after the activateSessionRequest has stopped filling in the request header, resulting in a statuscode BADSESSIONINVALID being returned by the server. Also, the client now SEGFAULTS on linux x64 when the connec

[2015-06-11 15:08] Stasik0 commented on #271
i think i fixed them in b2f2dd9adce3c150202a1852a7bc71f4e78570fa and 5e665ec563c3cf4b344349ee77e107d5773d1ce9, you can just cherry pick them to dev

[2015-06-11 15:33] ichrispa commented on #271
Fixed by merging master back into dev.

[2015-06-11 15:33] #271 closed

[2015-06-12 15:06] ichrispa commented on #253
@jpfr: On a change, `MonitoredItem_QueuePushDataValue(server, monitoredItem)` should be called. The monitoredItem will decide on it's own if a value needs to be queued, which attribute is targeted, if it has changed, etc. The only information necessary here is that the monitoredItems `monitoredNodeId` attribute corresponds to the node where the change occured.

I am happy to report the following p

[2015-06-12 20:32] ichrispa opened #272 "A GUI?"
Dear all,

we had a little discussion today with a colleague of mine which revolved around the issue of not having a propper, free and inter-plattform UA modelling tool. So I hacked away for the past couple of hours to see if I can harness GUIs, in particular the drawing and boundary-detection of objects on a surface (which is kind of a new thing to me). Here's a bit of a mockup:

![chainnodes](ht

[2015-06-12 21:48] jpfr commented on #253
Just great!
What features do we want to add before pulling subscriptions into master?

Probably we can get remote node creation into master faster if we pull it as a separate branch. If we just want to add nodes from remote, the existing `UA_Client_addNodes` might do the job as well.

[2015-06-13 09:46] ichrispa commented on #253
As far as I can see, the changes in the client_createNodes branch are pretty much compatible with either master or dev or both.

Subscriptions still lack several things, most notably:
- Not all NodeAttributes are monitorable yet.
- We have DataChangeItem-Type Notifications, but there is still no support for EventList and StatusChange (the 'other two' monitoring types).

If these two are not consid

[2015-06-13 10:30] Stasik0 commented on #253
This are great news!

Did you already have a look on subscriptions with valgrind? Last time i looked into it, there were some minor leaks.

[2015-06-13 11:39] jpfr commented on #272
As you mentioned, IOSB has developed such a modeller some years ago.
I'd like to avoid a conflict of interests.
Can we keep such an initiative outside of the main repository?

[2015-06-13 13:41] ichrispa commented on #272
The iosb has developed a specialized graphical modelling tool for generating c/c++ targeted at the unified automation sdk.

From my point of view, there is no conflict of interest. Their tool targets the UA SDK, this one would target open62541. There is about as much conflict potential here as in creating an open source opc ua stack inspite of a commercial one being available from ua.

[2015-06-13 13:47] Stasik0 commented on #272
@jpfr works at ISOB ;)
From my point of view, I like the idea, and it seems to be a logical continuation of your script (all backend is already there). Unfortunately, I do not have so much Pyhton competence....  We are also looking into UnifiedAutomation modelling tool ATM which seems to fulfill our current needs.

[2015-06-13 14:03] ichrispa commented on #272
Ok, with @jpfr working for the IOSB I can definetely understand the conflict of intereset argument.

I really want to avoid multiple transfomation steps when generating a model for our server; we also talked over schemes to modify YEd, Dia or even use MS Visio, then transfrom their save files to the UA XML scheme.

I would like a tool that integrates with the open62541 server/client properties, ca

[2015-06-13 14:14] kevinherron opened #273 "Malformed/Unexpected Response to CreateSubscription"
I know subscriptions aren't supported, but in response to a CreateSubscription service call the server sends back a bad response - apparently just a ResponseHeader. I'm assuming you mean to be returning a ServiceFault containing that ResponseHeader.

Further, after the client reconnects and sends an ActivateSessionRequest, the server segfaults.

[2015-06-13 14:35] jpfr commented on #262
Implemented in e0f7d135b9288da0c6b9c4468aa67189bcdcfb22.
This actually increases the memory requirements at first, since we allocate the full 65kb of the maximum message size.

Thx for raising the topic @pfpmeijers.

[2015-06-13 15:47] Stasik0 commented on #273
Which branch/Version are you using? Which client? How can we reproduce it?

[2015-06-13 15:49] uleon commented on #272
Is there really a need for just another modeller? I see a lot of tools, some of them quite elaborated and almost all of them export to xml-files, e.g.

http://www.commsvr.com/DownloadCenter/ProductSoftware/UAModelDesigner.aspx
http://www.hb-softsolution.com/opc_ua/?site=products3&lang=de&title=Comet%20UA%20Model%20Designer
https://www.prosysopc.com/products/opc-ua-modeler/

Wouldn't it be much mor

[2015-06-13 15:52] Stasik0 commented on #272
@uleon since opc foundation has a standardized xml schema, no transformations are needed - Chris' script should parse it right away

[2015-06-13 15:59] uleon commented on #272
true enough :-)  I simply don't know if the above mentioned modellers export to OPC F's xml schema...

[2015-06-13 16:28] kevinherron commented on #273
I am using the 32-bit linux binary available on the front page of http://open62541.org/ - so I guess that makes it v0.1?

Running [this example](https://github.com/digitalpetri/opc-ua-sdk-examples/blob/master/src/main/java/com/digitalpetri/opcua/sdk/examples/client/SubscriptionExample.java) (after modifying the endpoint URL to point at open62541) is enough to induce the crash.

[2015-06-13 17:25] Stasik0 commented on #273
Have you eventually got a jar for me so i can test quickly?

[2015-06-13 17:37] kevinherron commented on #273
I'm running this out of the IDE right now, I don't have a jar that you can run.

You can replicate the incorrect response using UaExpert, but it doesn't crash after that for some reason.

[2015-06-13 18:03] #267 closed

[2015-06-13 18:06] jpfr commented on #246
Please open a new issue if necessary. This is all pre-0.1.

[2015-06-13 18:06] #246 closed

[2015-06-13 18:32] HolgerJeromin opened #274 "Please review building wiki articles"
I fighted a bit with my windows machine to build the library.
To document this i removed the autotools section in the wiki and added cmake stuff.

I would be happy if some windows and/or eclipse users could review the documents:

https://github.com/acplt/open62541/wiki/Building-open62541
https://github.com/acplt/open62541/wiki/Eclipse%20CDT

[2015-06-13 18:38] jpfr opened #275 "Reduce overhead of service calls"
Hey there,

We are good. But we can still improve performance. :-)
Think **30% of the burned clock cycles** per service call...

**We don't need UA_calcSizeBinary**
We can just allocate the maximum message size (this is no more costly than allocating a very small buffer) and return an error if the message does not fit. That reduces encoding times by half.

**We spend a lot of time for small malloc

[2015-06-13 18:51] Stasik0 commented on #273
@kevinherron okay, it seems to be correct. How can I build your example as quickly as possible to reproduce the segfault?

[2015-06-13 19:04] kevinherron commented on #273
Clone [this repo](https://github.com/digitalpetri/opc-ua-sdk-examples), modify the endpoint URL in SubscriptionExample.java so it points to an open62541 server, and then run the following command from the base of the repo dir:

[code]

You'll need Maven and JDK8 installed.

[2015-06-13 19:07] jpfr commented on #273
@Stasik0 Can we turn this into a unit test example for the simulated network interface?

[2015-06-13 19:22] Stasik0 commented on #273
@kevinherron ```[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:3.1:compile (default-compile) on project sdk-examples: Fatal error compiling: invalid target release: 1.8 -> [Help 1]```
java -version says ```java version "1.8.0_45"```

[2015-06-13 19:27] kevinherron commented on #273
Where does your $JAVA_HOME env variable point to and what does `javac -version` return? What about `$JAVA_HOME/bin/javac -version`?

[2015-06-13 19:28] Stasik0 commented on #273
okay... now i get
[code]

[2015-06-13 19:30] kevinherron commented on #273
Try again in ~30 seconds, I just deployed the updated stack artifacts to the Sonatype nexus. I just shuffled a bunch of things around this morning, unfortunately.

[2015-06-13 19:34] Stasik0 commented on #273
@kevinherron no change, same error

[2015-06-13 19:40] kevinherron commented on #273
*sigh*

I think Maven has cached the older snapshot. Try deleting `~/.m2/repository/com/digitalpetri/opcua/stack-core` and try again...

[2015-06-13 19:43] Stasik0 commented on #273
@kevinherron okay, this helps
[code]
there is no reconnect, everything stops after getting a create subscriptionrequest, i need to trace the segfault....

[2015-06-13 19:44] kevinherron commented on #273
Hmm. Yeah, when I run it I see the same thing, but then I see a subsequent reconnect as well. Either way it looks like you've got the crash reproducing now, so good luck!

[2015-06-13 19:45] Stasik0 commented on #273
@kevinherron yes, but my server does not crash

[2015-06-13 19:46] kevinherron commented on #273
Oh, from the stack trace I can see that you've got the slightly older version of stack-client; do the same delete-the-cache dance you did for stack-core and then you should see the reconnect happen.

[2015-06-13 19:51] Stasik0 commented on #273
@kevinherron now the server does not stop, i see a 60sec timeout... but no reconnect...

[2015-06-13 20:05] kevinherron commented on #273
Hmm. I'm kinda stumped on the reconnect thing. The example doesn't shut down cleanly right now, I expect that, but when I run it I get the following before it eventually shows the 60sec timeout:

[code]

[Here](https://www.dropbox.com/s/4dv4cuezuwbx3rr/open62541.pcapng?dl=0) is the wireshark capture for the exchange.

Off the top of my head, the only reason I can think we're seeing different resul

[2015-06-13 20:14] Stasik0 commented on #273
okay @kevinherron , i can not reproduce it unfortunately... i got a clean 60 sec response

may I ask you to send me a backtrace of the segfault (it is really important)... Can we hook up in IRC or in skype so i can explain you what to do?

[2015-06-13 20:43] kevinherron commented on #273
I just updated the examples so they exit cleanly, but yeah, I'll join you in IRC.

[2015-06-13 21:17] ichrispa commented on #272
One of the problems I see is that none of them are available as open source; you need to register and/or buy them. If you don't buy them, there will propably be restrictions on commercial use. This one would maybe not be as elaborate, but it would be freely available.

Additionally, we could leverage from the community to improve them. If you ask several thousand dollars of licencing costs, the am

[2015-06-13 21:34] Stasik0 commented on #273
okay, the reply is fixed, the segfault is also fixed in the master. @kevinherron, thank you

[2015-06-13 21:34] #273 closed

[2015-06-13 21:46] Stasik0 opened #276 "Back-porting 0.1"
Hey,

we published 0.1 and were aiming of porting some fixes back from the master to it. The question: is it really needed? Do we need such *enterprise* feature at a such an early stage? We need to think about fixed APIs, etc.

[2015-06-13 22:11] ichrispa commented on #274
I can also confirm build problems with eclipse and visual studio.

[2015-06-14 16:27] ichrispa commented on #276
I think we do not need to backport features to 0.1. But we should backport any changes to the API. Someone building an application based on 0.1 should get more, new capabilities when upgrading to say 0.2 - but his application should be able to work just as it did before.

In the past few weeks, things like adding nodes and references has changed; these changes need to be backported imho.

[2015-06-14 16:34] Stasik0 commented on #276
Nodes, references and networklayer api....

I'd vote for breaking the api and releasing the current master as a new number. The changed are more or less cosmetic and can be fixed in a couple of minutes

[2015-06-14 18:23] jpfr commented on #276
You volunteering @ichrispa ? :-)
I guess nobody is expecting more than bugfixes on 0.1
There are already some improvements in the 0.1 branch. We could tag 0.1.1 any time.

I'm with @Stasik0 that API changes in 0.2 are okay when they provide a substantial improvement or when new abstractions are required to consistently integrate new features.
Overall, the API changes are *really* straightforward s

[2015-06-15 07:36] Stasik0 opened #278 "ConnectionErrorApiReconnect"
Hi guys,

if i connect with uaexpert to a server, there is a reconnection pretty exact every 3 minutes. Are we not refreshing some lifetime properly?

[2015-06-15 07:37] HolgerJeromin opened #279 "requirements and call logic for the client"
Right now the client code and example is synchronous and does not take care of the session keep alive by itself (if it has no work to do).

I want to change this. My Idea was to reuse the pattern of the server code.

But perhaps it is better to decide what are our requirements for the client code before.
- like now: synchronous fetching of one data from a server (and closing the connection).
- fet

[2015-06-15 07:43] Stasik0 commented on #279
+1 for the same as for the server code, did you see that the server loop is divided into a 1-iteration callable function? [1]

We need two or maybe three cases:
* 1 (a) client application takes own care of calling the client_worker() function aka OV style
* 1 (b) the simplest client does not care and my not call _worker at all since it needs only one value
* 2 client application forks a thread tha

[2015-06-15 07:47] Stasik0 commented on #274
i have fixed some typos... but it looks good

[2015-06-15 08:14] HolgerJeromin commented on #274
@ichrispa my problems were strict setup specific.

[2015-06-15 08:31] jpfr commented on #279
Good idea.
We need this also for subscriptions in the client.

We can move `src/server/ua_server_worker.c` to `/src/ua_async_events.c`.
Then, the server and client can instantiate their very own mainloop.

[2015-06-15 09:49] ichrispa commented on #279
As discussed on IRC with @HolgerJeromin, I am really looking forward to using the timed work with the clients subscriptions.

But I do want the current functionality (userspace having single-threaded control over all message transmissions) maintained - i.e. multithreading in the client remaining optional - for backwards compatibility.

[2015-06-15 10:37] Stasik0 commented on #279
@ichrispa this is covered by 1(a) and 2

[2015-06-15 11:36] Stasik0 commented on #278
okay there are 2 problems:

1) we had an integer overrun - fixed, now there is one drop every 600 seconds
2) is more hard, apparently client may use two security tokens the old and the new one, the standard says:
[code]

so the problem is that we issue a new tokenid (e.g. 2) in the renew_method as a replacement for an old one (e.g. 1). Now the client sends requests with tokenid 1 as stated in (b).

[2015-06-15 14:23] pfpmeijers commented on #262
I cloned the latest version and rebuild, but unfortunately I now get
UA_STATUSCODE_BADINTERNALERRO for not that huge small transaction sizes
(array size > 2000 ints).
Grt, Patrick

On Sat, Jun 13, 2015 at 4:35 PM, Julius Pfrommer <notifications@github.com>
wrote:

[2015-06-15 14:26] Stasik0 commented on #262
@pfpmeijers could you make your code accessible at github or somewhere else?

[2015-06-15 14:29] pfpmeijers commented on #262
I am not that familiar with github mechanisms. I will send you a zip file.

On Mon, Jun 15, 2015 at 4:26 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-15 14:35] Stasik0 commented on #262
@pfpmeijers okay, or just upload it to some file-hoster and link it here

[2015-06-15 14:54] pfpmeijers commented on #262
See attached zip file (renamed to .zi_)

The open62541.c/h files are build from todays snapshot.
The .org variants are those that were present on the website main page
(currently these links are dead).

The .org variant is ok. The new ones give following error on windows:

ERROR: Read failed. Service result is not good: 0x80020000

A small number of measurent repetitions (indicated by the -repeat)

[2015-06-15 14:55] pfpmeijers commented on #262
All blocked by company policy.

On Mon, Jun 15, 2015 at 4:35 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-15 15:03] Stasik0 commented on #262
send us the code as plaintext by using a gist (https://gist.github.com/)... how do you compile on windows? VS or mingw

[2015-06-15 15:09] Stasik0 commented on #262
btw @pfpmeijers there was a memleak in client yesterday, are you sure to take todays snapshot? Like this one? http://open62541.org/releases/2410369656.zip

[2015-06-15 17:56] pfpmeijers commented on #262
I will test again with this zip file tomorrow.

On Mon, Jun 15, 2015 at 5:09 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-15 17:57] pfpmeijers commented on #262
https://gist.github.com/anonymous/56559890cd076ad0d886

On Mon, Jun 15, 2015 at 5:03 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-15 21:08] jpfr commented on #262
That's some nice code there!

I just pushed some changes to master. The benchmark works fine on my box.
The latest single-file release from master is in this folder: http://open62541.org/releases/

Once the messages are too big, we return UA_STATUSCODE_REQUESTTOOLARGE.
Once we have message chunking, the maximum message size will increase a lot.
But there will always remain an upper limit for messa

[2015-06-15 21:35] jpfr commented on #262
As a side note. With open62541, you will mostly measure a mixture of roundtrip-time and throughput of the network interface. The server is much faster than the network interface (that require a context switch into the kernel).

On my windows box I get 25,000 requests per sec on a single core.
With a more lightweight (non-POSIX) network API, we could probably increase this 5-10 times.

http://blogs

[2015-06-16 08:00] pfpmeijers commented on #262
The latest version (http://open62541.org/releases/b44a64a8fc.zip) still
gives me 0x80020000 errors.
Added two python scripts to the gist that run various use cases with the
client app: https://gist.github.com/pfpmeijers/e35e1bd74fbef2d165c9
If you run "run_measurements.py" I expect you see these errors passing by
rather quickly.

On Mon, Jun 15, 2015 at 11:08 PM, Julius Pfrommer <notifications@git

[2015-06-16 08:01] pfpmeijers commented on #262
"But there will always remain an upper limit for message sizes."
You mean a hardcoded upper limit, or something I can configure using the
config structs with message size/buffer size fields?

On Mon, Jun 15, 2015 at 11:08 PM, Julius Pfrommer <notifications@github.com>
wrote:

[2015-06-16 08:03] pfpmeijers commented on #262
I would be very interested to see what level of performance could be
reached with this non-POSIX API.

On Mon, Jun 15, 2015 at 11:35 PM, Julius Pfrommer <notifications@github.com>
wrote:

[2015-06-16 08:53] Stasik0 commented on #262
@pfpmeijers on linux the script gives 0x80020000 only on buffer sizes > 65k which is expected.. are you having problems on the windows side? can you show us a cvs of such a file?

@pfpmeijers cool scripts, which license are you having on them? i.e. may we use it as a benchmark?

[2015-06-16 11:35] Stasik0 opened #280 "Get a Windows build going"
There is a Travis-Ci clone for windows-based VMs:

http://www.appveyor.com/

At least we can get builds (compiling with msvs 2015) running there.

[2015-06-16 12:52] pspeybro commented on #274
Allow me to add a small suggestion for the build documentation: an overview of the cmake options that can be enabled and what the effect of those options are.

For example the effect of enabling something like:
-DENABLE_MULTITHREADING
-DENABLE_EXTERNAL_NAMESPACES
-DEXTENSION_UDP
...

What is the benefit/downside of enabling multithreading?

When not yet too familiar with the code, it's not obvious

[2015-06-16 12:54] HolgerJeromin commented on #274
@pspeybro very good suggestion. These should get IMO documented separate (and linked from the build documentation).

[2015-06-16 13:00] pfpmeijers commented on #262
No license, so free to use. The client.c file actually needs some
refactoring to remove the #ifdef spagetti.

I select a buffer size > 65K in the client and server config. Doesn't this
help? These value are ignored?

On Tue, Jun 16, 2015 at 10:53 AM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-16 13:23] Stasik0 commented on #262
nono, I just used the vanila open62541.c/.h files, so 65k are set there... so you say it work for windows, but not for linux?

[2015-06-16 14:17] Stasik0 commented on #276
okay, i conclude that there is a 2:1 vote

[2015-06-16 14:17] #276 closed

[2015-06-16 22:50] pfpmeijers commented on #262
Did not try for windows yet. Today did a test run on linux system,
intra-host, so no network traffic. Will show you some results tomorrow.

On Tue, Jun 16, 2015 at 3:23 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-17 07:19] jpfr commented on #262
That depends on the effort you are willing to make.
On Linux (with increasing difficulty) there are
- netmap (http://info.iet.unipi.it/~luigi/netmap/). This gives you access to a ringbuffer in kernel-memory and thus zero-copy messaging. Code changes are straightforward. The improvement over vanilla TCP sockets is 10-20x for small packets.
- http://dpdk.org/ They reimplement much of the network sta

[2015-06-18 08:18] Stasik0 commented on #278
I cannot get it working. The issue is stated here: http://forum.unified-automation.com/topic1562.html

@jpfr do you have a possibility to see what UaExpert is doing on another server (unfortunately, it sets the lifetime to an hour, and the demo server stops working)
@kevinherron how do you handle token reissue in your stack?

[2015-06-18 12:28] Stasik0 commented on #278
it was our problem, we did not increase sequence id in opensecurechannel message. Added two tokens solution.

[2015-06-18 12:29] #278 closed

[2015-06-18 13:36] Stasik0 commented on #270
@pfpmeijers is it considered solved now?

[2015-06-18 13:37] Stasik0 commented on #258
stall

[2015-06-18 13:37] #258 closed

[2015-06-18 14:07] Stasik0 commented on #275
https://github.com/acplt/open62541/blob/master/src/server/ua_server_binary.c#L160

here, the session list will be searched every time for the token. There a session is already allocated to the channel. Should we store the token in the session object, so we do not have a O(n)?

[2015-06-18 15:03] pfpmeijers commented on #270
I still have the problem/error code.
Using the a4cd3c575b.zip release now.
Problem also occurs for smaller array sizes, but not fully
deterministically, it looks like.

On one PC we get:

client_executable: ./opcClient, client_count: 1, array_size: 512,
transaction_size: 1, transaction_bytes: 2048
ERROR: Client 0 transactions failed: ERROR: Read failed. Service result is
not good: 0x80020000

On o

[2015-06-18 15:45] ichrispa commented on #280
Interesting... all our attempts to use MSVS2015 failed due to limited c99 support when expanding macros.

[2015-06-18 16:03] Stasik0 commented on #270
which array size do you have? how can we reproduce it?

[2015-06-18 16:03] Stasik0 commented on #280
yea, but cannot you workaround it somehow?

[2015-06-18 16:10] pfpmeijers commented on #270
Run this script (with my client/server apps and multi_client.py script, as
I uploaded into the gist):

import os

for client in ["./opcClient"]:
  for client_count in [1 << i for i in range(1)]:
    for transaction_size in [1 << i for i in range(1)]:
      for array_size in [1 << i for i in range(20)]:

        os.system("python multi_client.py"
                  " -client "  + client +

[2015-06-18 16:15] Stasik0 commented on #270
@jpfr do you have a clue, Julius? I cannot reproduce it here (32-bit linux) all array until 32768 perform good, 65536 fails as expected

[2015-06-18 17:15] pfpmeijers commented on #270
@sten, you can also not reproduce with my script/test app? (I use linux 64
bits.)

On Thu, Jun 18, 2015 at 6:15 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-18 17:26] pfpmeijers commented on #270
Just tried again on windows (10, x64):

Z:\OPC_UA\open62541\perf_test>client -size 524288 -repeat 10
10 transactions, 0.469109 seconds, 2097152 B/transaction, 44.705 MB/s,
latency min/avg/max: 0.042808/0.0516574/0.0762038 seconds

Z:\OPC_UA\open62541\perf_test>client -size 1048576 -repeat 10
ERROR: Read failed. Service result is not good: 0x80020000

So I can go up to 2MB per transaction (single a

[2015-06-18 19:48] ichrispa commented on #270
I'm gonna give this another try: We don't support chunking as far as I know. If you are testing this over a loopback adapter, then ip/tcp will split the packets at several kilobyte intervals (not necessarily always the same).The second piece of the packet will be missing its transport and security headers, which results in a failed decoding.

The MTU is defined by the device driver, not the tcp/ip

[2015-06-18 19:53] ichrispa commented on #280
I need to switch my development focus from linux/stack dev to windows application dev soon. Windows is unfortunately a requirement due to third party dependencies. I'll see what I can do in the coming days.

[2015-06-18 19:59] ichrispa commented on #255
no, not working. I need to incorporate the API changes from master.

[2015-06-18 20:07] Stasik0 commented on #270
@ichrispa still we should be able to coupe with the split, we should be safe under 65k! Since it may occur anytime - TCP is stream oriented

[2015-06-18 20:32] Stasik0 commented on #255
okay, and then we can merge it asap :) before it divergates more

[2015-06-18 20:42] Stasik0 commented on #270
@pfpmeijers i think you were right. This is exactly the case when a "partial" message was received, but "hold back" by the ```UA_Connection_completeMessages``` function
@pfpmeijers would you test this one http://open62541.org/releases/1ca92d05db.zip which is a build from the "network_fix" branch https://github.com/acplt/open62541/tree/network_fix

[2015-06-18 20:47] Stasik0 commented on #280
@ichrispa we need to workaround it anyway. Here: http://blogs.msdn.com/b/vcblog/archive/2015/04/29/c-11-14-17-features-in-vs-2015-rc.aspx it is stated as "[3] C99 preprocessor support is unchanged.  It's Partial because while the compiler supports variadic macros, our preprocessor's behavior doesn't conform to C99/C++11 in many ways. ". But getting an msvc is very imporant!

[2015-06-18 20:47] ichrispa commented on #270
@Stasik0: I agree with you completely on the TCP specs. It should even be capable of handling arbitrary length transactions even though buffers are limited. But to debug this I want to see what the client and server are exchanging and whether this is a server/client fault or the packages grow larger then the buffers negotiated during HEL/ACK. I would also be interested to see if TSO is used, which

[2015-06-19 08:07] ichrispa commented on #272
OK, I got all the feedback I needed from this discussion (noone wants a gui for the python classes but me); I'll be working on this on my free time. Considering this issue closed.

[2015-06-19 08:07] #272 closed

[2015-06-19 08:08] ichrispa commented on #255
@Stasik0: Fixed it :) It actually was a typo of mine I introduced during the merge causing the problem.

[2015-06-19 09:04] pfpmeijers commented on #270
@Sten, I will try the network_fix branch version and let you know the resul.

On Thu, Jun 18, 2015 at 10:42 PM, Sten Grüner <notifications@github.com>
wrote:

[2015-06-19 09:09] pfpmeijers commented on #270
@ichrisp <https://github.com/ichrispa>: unfortunately i am not familiar
enough with TCP/IP communication technology to understand what you mean
with MTU and other abbreviations. I also have no experience with
wireshark/tcpdump. So if i need to do a test, then you need to give me
detailed instructions like what to install, which commands to run etc.
On the other hand, since I posted my test apps an

[2015-06-19 09:18] pfpmeijers commented on #270
@Sten, is this release 1ca92d05db ? (then I do not have to generate the
single file versions myself)

On Fri, Jun 19, 2015 at 11:04 AM, Patrick & Patricia Meijers <
pfp.meijers@gmail.com> wrote:

[2015-06-19 09:26] Stasik0 commented on #270
yep: http://open62541.org/releases/1ca92d05db.zip

[2015-06-19 09:56] pfpmeijers commented on #270
With release a4cd3c575b: from array size of 512 int32 items onward,
*non-*deterministically
BADINTERNALERROR:

patrick@ubuntu:~/Shares/OPC_UA/open62541/perf_test$ ./opcClient -server
192.168.0.100
1000 transactions, 0.983501 seconds, 4 B/transaction, 0.0040671 MB/s,
latency min/avg/max: 0.000593597/0.000981233/0.0219491 seconds
patrick@ubuntu:~/Shares/OPC_UA/open62541/perf_test$ ./opcClient -serve

[2015-06-19 10:22] pfpmeijers commented on #270
With 64 arrays per transaction my client crashes.

patrick@ubuntu:~/Shares/OPC_UA/open62541/perf_test$ ./opcClient -server
192.168.0.100 -size 1 -vars 64
ERROR: Read failed. Service result is not good: 0x80AE0000
*** Error in `./opcClient': double free or corruption (!prev):
0x0000000001b40310 ***
Aborted (core dumped)

The -g version just gives an error:

patrick@ubuntu:~/Shares/OPC_UA/open62541/

[2015-06-19 10:41] pfpmeijers commented on #270
Btw, with older release (a4cd3c575b), on windows10, the 64 arrays of 256
items gives:

Z:\OPC_UA\open62541\perf_test>client -size 256 -vars 64 -repeat 10
ERROR: Read failed. Service result is not good: 0x80020000

instead of hanging.

On linux with older release no memory error.

patrick@ubuntu:~/Shares/OPC_UA/open62541/perf_test$ valgrind
--leak-check=yes ./opcClient -server 192.168.0.100 -size 2

[2015-06-19 11:18] Stasik0 commented on #270
i can not reproduce it....

sten@gemini:~/Desktop/gist/e35e1bd74fbef2d165c9$ valgrind ./client.bin -size 1 -vars 64
==6275== Memcheck, a memory error detector
==6275== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==6275== Using Valgrind-3.10.0.SVN and LibVEX; rerun with -h for copyright info
==6275== Command: ./client.bin -size 1 -vars 64
==6275==
1000 transactions, 0.707279 sec

[2015-06-19 11:31] pfpmeijers commented on #270
Did you use my app? Latest code is in
https://gist.github.com/pfpmeijers/e35e1bd74fbef2d165c9 (latest client code
changes are EPICS only).
Build with make.sh or make.bat
Run server on different system - the error only pops up for remote server
(tested linux64 to linux64):

patrick@ubuntu:~/Shares/OPC_UA/open62541/perf_test$ ./opcClient -server
localhost -size 1 -vars 64 -repeat 10
10 transactions,

[2015-06-19 11:35] Stasik0 commented on #270
the question is why does the memory message occur? I mean, thy does 0x80AE0000 appear. I need to test it on different machines... but first i will merge the commit in

[2015-06-19 12:04] Stasik0 commented on #270
0x80AE0000 can appear if a timeout occurs, you have currently the timeout set to 5ms... are you sure it is enough? I pushed some memory fixes for the client, the double free should not occur

[2015-06-22 09:17] Stasik0 opened #282 "Amalgamation has multiple file includes"
Amalgamation script seems to include ua_config.h one time in open62541.h und *two* times in open62541.c :/ Therefore, some variables were always set, I worked-around it in 4fb5e8a1a059c1cc00986bb91cb456bfc1c6adbe, however this behavior is not tolerable. We need to clean up amalgamation to prevent such stuff.

[2015-06-22 09:19] ichrispa opened #283 "Feature merging"
Both client_addnodes and branches service_call_implementation branches are currently inactive, as they appear to be working as expected. Unless there are any issues to report, I'd suggest merging them into master and/or dev?

[2015-06-22 09:31] Stasik0 commented on #283
adding nodes:
* last build failed
* it is cool, since they almost need no binary space on the server side

service call:
* example method is attached to a magic number id 11489, I think we do not have this node if no generated ns is used. May i propose to add another method node like "the answer" and attach an "echo" method to it? Maybe a method that calls the logger to print the method input?
* t

[2015-06-22 14:05] jpfr commented on #283
**client_createNodes**
+1 for merging

**service_call**
Good job! Ofc some things can always be improved. :-)

- Just compile it in every time. The 2kb binary size are not worth the added complexity of the compiler flags.
- We have `ua_method_manager` files. But no manager. Maybe we can just fold the functionality into the `ua_nodes.c/h` and `ua_services_call.c`.
- `examples/server.c` includes fil

[2015-06-22 14:06] Stasik0 commented on #283
+1 to remove ua_method_manager
-1 regarding always compile-in... this is again not only 2kb of code but some features

[2015-06-22 14:15] jpfr commented on #283
@Stasik0
I fear the discussion. But do you suggest that we ifdef every feature that is not in the nano profile?

[2015-06-22 14:18] Stasik0 commented on #283
@jpfr yea... and have some kind of (multiple) standard configurations. Do not want to discuss too much, aswell. But currently this fine modularity it is possible without any further effort. Later we will have to strep things out in a manual way if some server reduction is needed and small footprint is one of our USPs.

[2015-06-23 17:53] jpfr commented on #283
@ichrispa I found a new type in the xml: UA_Argument
Currently trying to use that for the method signature. I'll call you tomorrow if that works out.

[2015-06-24 13:34] ichrispa commented on #280
I can't really find out where the fuss is. Maybe my VS2015 is afraid of me and just cooperates.

Turning intellisense off reduces the MSVS build of the master branch to the following problems:
  *  F_OK definitions need to be added to ua_util.h (as in dev several weeks ago)
  * When amalgamation is enabled, MSVS murks up the build order and skips building the header. Some manual fiddeling with the

[2015-06-24 14:08] Stasik0 commented on #280
Can't the build order be changed in CMakeList? or will it break the other build?

[2015-06-24 14:14] ichrispa commented on #280
@Stasik0: In MSVS: Project->Project Build Order; Select dependencies and "server" from the dropdown list. Add amalgamation as a dependency.

The Development branch had two added pains; there was a stray `COMMAND python` in the CMakeFile and a cast in subscriptions.c was a problem for MSVS ("Cannot cast UA_Job to UA_Job"). Both have been fixed.

[2015-06-24 15:26] ichrispa commented on #255
Feature has been merged into master, considering the issue closed.

[2015-06-24 15:26] #255 closed

[2015-06-24 16:39] ichrispa opened #284 "Method Call Service improvements"
Commit b1a2edcbdf6821e58e99031d8b96c7ccd45c01a2 by @jpfr effectively eradicated two weeks of my work by substituting my method call implementation for his own. As far as my experience goes this is considered rude to say the least. In an equally rude fashion I have reverted that commit.

@jpfr's premise is that the spec explictly equipes MethodNodes with UA_Arguments that serve to check the conform

[2015-06-24 17:29] jpfr commented on #284
@ichrispa,

I'm sorry if the commit came across as rude. I was under the impression of *helping out* on this important feature.
Especially since you announced to no longer work on the branch, the changes were discussed in #283, and we had a call this morning about the commit in question and the changes therein.

The branch went from "methods not usable with UAExpert" to "methods usable with UAExpe

[2015-06-24 18:09] ichrispa commented on #284
@jpfr: From my point of view, we're good :)  I must have miscommunicated something; it was never my intention to abandon any of the branches. I'll try to get the best out of both our implementations into the branch; after all your improvements are valid, but undo some of mine.

My UA Expert did not complain - in fact it was my primary mode of testing, and I always got "Call Suceeded". How can I re

[2015-06-24 18:58] #265 closed

[2015-06-25 09:55] jpfr commented on #284
The arguments are part of the method node. But not as attributes. Think of the method node as an object and the arguments as the object's variables. They are added as separate variable nodes with a `hasProperty` hierarchical reference.

But you could not set the input arguments / see the output arguments in UA Expert GUI.

For that, add the arguments as two variable nodes (holding a `UA_Argument`

[2015-06-25 12:29] Stasik0 commented on #284
@jpfr the bug is actually mine :( should i remove this feature of forcing BrowseName namespace id?

[2015-06-25 20:15] ichrispa commented on #284
I'm currently trying to get my compiler to encode extensionObjects present in the namespace; that way we should be able to generate the contents of any hasProperty relations. Since so far this was not the case, there was no way UAExpert could be informed that any arguments exist.

[2015-06-26 20:55] #280 closed

[2015-06-27 09:48] jpfr commented on #282
Fixed in df4753b00d74b21f8a76e644fc63d9e5d1564206

[2015-06-27 09:48] #282 closed

[2015-06-27 12:54] jpfr commented on #284
Yes. UAExpert won't detect the argument lists otherwise.

[2015-06-29 08:38] jpfr opened #285 "Documentation Reset"
Dear all,

currently, open62541 is nearly impossible to use for somebody who does not want to read the actual sources. Besides the raw Doxygen definitions, we should have more prose in the documentation.

Please have a look at http://open62541.org/doc/sphinx/
The existing doxygen definitions can be easily referenced. The source of the pages is
- https://raw.githubusercontent.com/acplt/open62541/ma

[2015-06-29 08:41] Stasik0 commented on #285
is there some tutorial on this magic markup?

[2015-06-29 09:00] jpfr commented on #285
http://sphinx-doc.org/contents.html
https://breathe.readthedocs.org/en/latest/directives.html

[2015-06-29 09:11] FlorianPalm commented on #285
Interface to external nodestores?

[2015-06-29 09:19] Stasik0 commented on #285
Configuration options: https://github.com/acplt/open62541/wiki/Configuration-options, probably it is better to remove them from the wiki and transfer to sphinx

[2015-06-29 09:47] Stasik0 commented on #274
config is there, will probably go into the sphinx documentation https://github.com/acplt/open62541/wiki/Configuration-options

[2015-06-29 09:47] #274 closed

[2015-06-29 12:37] HolgerJeromin commented on #274
Thanks stasik. I linked this options page from the build doc.

[2015-06-29 17:26] jpfr commented on #275
@Stasik0
1) There are potentially multiple sessions per channel. That's why we call UA_SecureChannel_getSession first.
2) Yes. That lets us choose a custom timeout on the connection.

- UA_calcSizeBinary is removed from the main code path.
- The in-situ decoding approach has been implemented in the membuf branch.
But its results are a bit disappointing. We need to benchmark it once we have a clien

[2015-06-29 17:26] #275 closed

[2015-06-29 17:39] ichrispa commented on #284
OK, the namespace compiler can now build the Arguments in the variable nodes. They show up in UA_Expert when Call is executed. The compiler is currently limited to flat extensionObjects (those not containing other extensionObjects) and might fail to encode multidimensional arrays.

jpfr created a UA_Server_addMethodNode(); the current implementation does not store UA_Arguments in the node anymore.

[2015-06-29 18:00] Stasik0 commented on #275
Wy not merging in-situ in? Does it make stuf complicated? I mean it is not slower and has probably a better ram-consumption...

[2015-07-06 03:48] btrepp opened #288 "check not found and found"
Using v0.1 release. In debian jessie.
[code]
[code]

I'm not to great with CMake, but You can see lower down it finds a check static binary. Is there something else I need to install for check to work?

[2015-07-06 03:52] btrepp commented on #288
Apparently you need to install pkg-config to build the tests too.

This isn't in debian after running the ubuntu instructions. Is it in ubuntu?. Might need to be added to the build instructions.

[2015-07-06 03:52] #288 closed

[2015-07-06 06:46] btrepp opened #289 "Amalgamation fails for v0.1 in docker debian:jessie"
I'm trying to create a docker image that builds v0.1 in debian:jessie

It works fine if I build without amalgamation, but when I enable it with `-DENABLE_AMALGATION=ON`
I get

[code]

Builds fine without amalgamation. Is there some hidden dependency I need to install or special shell make expects to be run from to do it?.

[2015-07-06 06:52] Stasik0 commented on #289
these is a race condition that we fixed in master already. To fix this try to replace "make -j" by "make. v0.1 is kinda abandoned ATM, so try master instead

[2015-07-06 06:53] Stasik0 commented on #288
yes it seems that cmake relies on pkg-config to locate check. I have added a line on the wiki, feel free to edit.

[2015-07-06 07:20] btrepp commented on #289
Still occurs for me in the master branch (gotten the tarball of of github).

[code]

[2015-07-06 07:29] Stasik0 commented on #289
okay this seems to be something new... :/ it fails on the same line.... please run
VERBOSE=1 make -j1

[2015-07-06 08:18] btrepp commented on #289
Okay so I've done some testing. Amalgamate fails without the presence of git.

With git installed the error shifts. Note: I'm getting the version from a tarball, so it doesn't have .git info

[code]

[2015-07-06 08:39] Stasik0 commented on #289
okay, both issues should be fixed now

[2015-07-07 11:52] Stasik0 commented on #289
@btrepp did it work out?

[2015-07-07 20:40] Stasik0 opened #292 "Adding a UA_Server pointer in UA_Session struct?"
I'd like to implement SubscriptionManager_deleteMembers. Unfortunately, Session_deleteMembers needs a pointer to Server in order to remove the job? What's the plan? A pragmatic solution would be to add a server pointer to a session, since a session may not exist without the server or in any other context. However this is somehow dirty... Anyone a better solution?

[2015-07-08 06:30] Stasik0 opened #293 "Compiling dev fails"
[code]
gcc 4.8.2 @ 32 bit linux
it is funny, since I did not have this at my 64bit machine at home

[2015-07-08 17:36] ichrispa commented on #293
I know the error (saw it before on windows). Interestingly enough, this error does not occur on my 32Bit laptop.

On a 64Bit System, the DateTime returns Picoseconds. Two Datetimes are then combobulated, where one is kept and one is xored.  The purpose of this function is to establish a semirandom but unique GUID for monitoredItems.

I will fix it first thing tomorrow by only using the higher 32 b

[2015-07-08 17:49] ichrispa commented on #292
A session will propably be deleted either by the server or the network layer. Both usually have a valid server pointer... so why not just pass the server as a parameter to deleteMembers?

We could also "tag" subscriptions as to be deleted, then add a safeguard inside the job function. It can then unregister itself if it is called:

[code]
When deleting a subscription that has a job, it is quite si

[2015-07-08 19:45] Stasik0 commented on #292
i have passed everything up to the function, there seem no subscription-related leaks anymore... just a bunch of uninitialised value warnings... :)

[2015-07-08 19:49] Stasik0 commented on #292
fixed in d5002592c86687a9c3351dd4e08801cc4ff8ec45

[2015-07-08 19:49] #292 closed

[2015-07-09 09:33] jpfr opened #294 "Canonical examples instead of "big mess examples""
I started to add many "small" server examples, each showing a single feature.

https://github.com/acplt/open62541/blob/master/examples/server_variable.c
https://github.com/acplt/open62541/blob/master/examples/server_method.c
https://github.com/acplt/open62541/blob/master/examples/server_repeated_job.c

Adding another example is just a two-liner here: https://github.com/acplt/open62541/blob/master/

[2015-07-09 11:38] HolgerJeromin commented on #294
I like it!

[2015-07-09 13:24] ichrispa commented on #293
Added a bit of dirty-patching to make the random-guid-initializer work on 32 & 64 Bit plattforms.

[2015-07-09 13:26] ichrispa commented on #73
@Stasik0: I agree. this issue is a bit antiquated.

[2015-07-09 13:36] #293 closed

[2015-07-09 13:36] #73 closed

[2015-07-09 19:35] Stasik0 opened #296 "Bugs in subscriptions"
Now the bug list starts:

* pull the cpu temperature into subscriptoin - the value is not changed. It is different from the node. I can not understand where the difference is between cpu temperature and cureent time.
* timestamp information on the subscription is set to 1? I.e. it is not updated.

[2015-07-09 21:14] jpfr commented on #285
http://open62541.org/doc/sphinx/building.html

[2015-07-10 08:35] jpfr commented on #284
methods were merged into master.

[2015-07-10 08:35] #284 closed

[2015-07-10 08:38] jpfr commented on #85
closing the issue.
we can resurrect it when xml encoding becomes relevant again.

[2015-07-10 08:38] #85 closed

[2015-07-10 08:39] jpfr commented on #60
closing the issue.
we can resurrect it when xml encoding becomes relevant again.

[2015-07-10 08:39] #60 closed

[2015-07-13 00:31] btrepp commented on #289
Yep that worked perfectly

https://registry.hub.docker.com/u/btrepp/open62541-docker/build_id/72951/code/b6d4aykwnovjdfy2yp4cs2l/

https://registry.hub.docker.com/u/btrepp/open62541-docker/build_id/72951/code/bcuovxlvrmeryndvfhs2gei/

[2015-07-13 00:32] #289 closed

[2015-07-13 06:17] ichrispa commented on #296
If you register multiple subscriptions in ua expert, do you get different values?

Is the cpu temperature routine called (printf)?

[2015-07-13 06:28] ichrispa commented on #283
Both branches have been merged into dev (I think). Closing the issue...

[2015-07-13 06:28] #283 closed

[2015-07-13 06:44] Stasik0 commented on #296
yes, but they do not change

yes, it is, for each subsubscription

[2015-07-13 06:46] Stasik0 commented on #289
@btrepp whats the best way of us to cross-link it?

[2015-07-13 07:52] joyhope opened #297 "cygwin compile supporting label:easy hacks"
The project could compile on the cygwin environment with following changes.

[code]

[2015-07-13 08:08] Stasik0 commented on #297
@joyhope is CYGWIN detected automatically? It it already a working patch?

[2015-07-13 08:09] joyhope commented on #297
It is already working with this small change.  I am not know whether the small change is useful for the project.

[2015-07-13 08:26] Stasik0 commented on #297
@joyhope I'd consider it useful as long as it does not break existing functionality (which seems to be the case). Could you do a fork of our repository, add the change and propose a pull-request? In this case you will own the merged commit... otherwise I could add it by myself, but you will lose the "contribution"

[2015-07-14 00:26] btrepp commented on #289
Atm it will auto build from new debian releases, taking the v1 release and whatever is current on master (so there is options).

As is it won't require any changes, it will just build (though new releases might just need a new branch to get them building).

If you want I'm happy for you to link to it just saying docker images are available, alternatively I could send you a pull request with a dock

[2015-07-14 06:19] #297 closed

[2015-07-14 06:20] Stasik0 commented on #289
@btrepp: I'd preffer to have a PR, so it can be stored here in the project

[2015-07-14 07:30] ichrispa commented on #296
The problem is apparently the encoded bytestring of the UA_Double. If you switch the datatype to Int32, you can see the temperature change live (as expected).

Here's what happens: In https://github.com/acplt/open62541/blob/master/src/server/ua_subscription.c#L531 the monitored item copies its newly aquired value into a bytestring and compares it to the last value seen in lastSampledValue (also a

[2015-07-14 13:53] Stasik0 commented on #296
I also see that the relevant test is grayed out... still encode seems to work, since we *do* get valid numbers for the node's value...

[2015-07-14 14:08] Stasik0 opened #299 "Cannot compile with ENABLE_AMALGAMATION and ENABLE_SUBSCRIPTION"
Errors give something like:

[code]
etc

[2015-07-14 14:18] Stasik0 commented on #296
@ichrispa as you see from the commited test, the decoder seems to work okay... the length is 8 not 9

[2015-07-14 19:32] ichrispa commented on #296
interesting... still, I will look into this in more detail (I'm still swamped). Bytestring_compare does not recognize the changed value, either because I am sampling it wrong when getting it from the datasource or because the variant being encoded does not actually point to the correct value.

I strikes me as odd that this should only happen with float though... I think I'll focus on 64bit/32bit f

[2015-07-14 19:34] ichrispa commented on #299
I think the order of inclusion of queue.h and subscriptions.h might be messed up; is #define LIST_ENTRY(field) above that line in amalgamation?

[2015-07-15 10:29] Stasik0 commented on #299
okay the problem is that queue.h is not included in the public header files. @jpfr @ichrispa I think it would be better if we would introduce ua_client_internal aswell to hide all the client's gutts like its done with the server. Does it make sense?

[2015-07-15 10:57] jpfr commented on #299
Good idea!

[2015-07-15 11:43] jpfr commented on #285
@Stasik0 told me about this Sphinx documentation: http://thrift-tutorial.readthedocs.org/en/latest/intro.html

That is really well made! Should we simply copy their structure?

[2015-07-15 11:58] Stasik0 commented on #285
I'd also like to have some "articles" section that are more or less blog posts on various topics

[2015-07-15 13:39] jpfr commented on #285
Yeah!
So we have a series of articles to build up basic understanding and a separate "API documentation" with inline code examples.

@Stasik0 you have some themes for articles in mind?

[2015-07-15 14:07] jpfr opened #300 "Use PCG Random Number generator"
The latest cygwin patch worked around the differences in the random number generator across operating systems.

We could simply roll our own PCG-based RNG.
http://www.pcg-random.org/download.html

- literally 5 lines of code
- nicer randomness than the builtin RNG
- removes another friction point for porting

Currently, we store the seed in the server struct. For concurrency, we should declare it

[2015-07-15 15:47] Stasik0 commented on #285
You had a couple of artcles un your blog :)))

[2015-07-16 12:37] ichrispa commented on #299
Yep, I'd support that.

[2015-07-17 06:32] #299 closed

[2015-07-17 15:56] andysargent commented on #147
Just a note that we are using this on a uCLinux environment, so malloc is an interesting subject given the lack of MMU support under uCLinux.

[2015-07-18 09:05] Stasik0 commented on #147
@andysargent so you got it included in the build?

[2015-07-20 09:16] ichrispa commented on #296
@Stasik0: I fixed the bug, but it wasn't in subscriptions.

To establish if a value is changed, monitoredItems encode the last sampled value as a bytestring (UA_Variant containing the value). A comparison is then run with UA_Bytestring_compare(lastsampled, newvalue). UA_Bytestring_compare internally used strncmp.

strncmp `compares the only first (at most) n bytes of s1 and s2` (man page), meaning

[2015-07-20 10:50] Stasik0 commented on #296
yeah, seems to be okay

[2015-07-20 13:39] #296 closed

[2015-07-20 14:21] Stasik0 commented on #294
we need to add examples to the build-chain in order to ensure the consistency of the api

[2015-07-20 14:22] Stasik0 commented on #262
@pfpmeijers is the issue solved?

[2015-07-23 08:53] pfpmeijers commented on #262
The original issue (memory buffer not reused) is indeed solved, so can be closed from my point of view.
In the discussion some other items are mentioned, but I think these are addresses by different issue numbers.

[2015-07-23 08:53] #262 closed

[2015-07-24 09:09] ichrispa commented on #234
We are having some problems getting the c-header def's from open62541 into C# code under MSWin/VS2015.
@davy7125: Can you give me an example of how you managed that?

[2015-07-25 20:17] ichrispa commented on #300
@jpfr: Would this also replace rand_r from stdlib.h in ua_types.c?

I am trying to compile open62541 for android-17 and the subminimal support of libc is turning out to be a problem...

But I am happy to report that the stack runs great on my Kobo Touch eBook Reader - I don't know what use that will be, but it proves we are in principal still ok on ARM targets :)

[2015-07-26 09:01] Stasik0 commented on #300
@ichrispa afaik, it will

[2015-07-27 11:50] martina-felber opened #302 "Building problems with ENABLE_METHODCALLS and/or ENABLE_SUBSCRIPTIONS"
Hey there! Many thanks for your open62541 project!
I tried your example code and could successfully add some variables to the server and read them with the client.
Unfortunately I wasn't able to get your example code with ENABLE_SUBSCRIPTIONS and/or ENABLE_METHODCALLS working.
I tried to build the open62541 header and c file and the client.c file from the /examples directory.
I am using Eclipse wi

[2015-07-27 12:56] jpfr commented on #302
Hello Martina,

I tried to reproduce the error and could compile the code with the following steps:

- Checkout the current master (not the 0.1 release)
- Run cmake-gui (a windows graphical user interface to cmake)
- Select ENABLE_AMALGAMATION (for the single-file-release), ENABLE_METHODCALLS, ENABLE_SUBSCRIPTIONS and BUILD_EXAMPLECLIENT.
- Generate the makefile for mingw
- Open a terminal (cmd) a

[2015-07-27 14:33] ichrispa commented on #302
Dear Martina,

I tried compiling the current master branch under Windows (MSVS2015) and Linux (OpenSUSE 13.1 x86_64). The Linux cmake options where as follows:
 ```cmake -DBUILD_EXAMPLESERVER=On -DBUILD_EXAMPLECLIENT=On -DENABLE_AMALGAMATION=On -DENABLE_METHODCALLS=On -DENABLE_SUBSCRIPTIONS=On -DENABLE_AMALGAMATION=On -DENABLE_GENERATE_NAMESPACE0=On -DENABLE_ADDNODES=On ../```

Please note that us

[2015-07-27 15:53] Stasik0 opened #303 "Userland UANodeSet code generation"
Hey,

currently pyUANamespace uses some non-userland functions which is a pity. Should we adapt the code/export the needed functions to userland? Are there some assumptions about "userland" NodeSets that can be made e.g.
* no stale nodes or no nodes which parents do not exist -> no need to publish `UA_NodeStore_insert`

List of functions needed to be published to userland (to be continued):

* UA_

[2015-07-27 15:56] Stasik0 opened #304 "Namespace generator calls addNode multiple times"
for example

[code]

[2015-07-27 16:05] ichrispa commented on #303
The compiler does run a node reachability analysis before printing, so issue must arise from the ignorelist or blackllist/whitelist functionality.

List of functions needed to be published to userland (to be continued):
  * symmetric: 'UA_(Server|Client)_(add|delete)(Object|Variable)Node()' (note: all addNodes should return the actual nodeId inserted into the nodestore)
  * symmetric: 'UA_(Server|

[2015-07-27 17:42] jpfr commented on #303
That's looking good @ichrispa !
But what do you mean by symmetric?

1. Returning the actual nodeid after adding is a good idea. The addnodes services does that already. So we can just reuse its mechanisms and structs.
2. What is a "child"? A component? A property? A subtype?
3. That's the same as the read/write services
4. That's the same as the addnodes service (also see 1)

To me, the question i

[2015-07-28 08:22] ichrispa commented on #303
I mean that the function should be present in both server and client and have the same argument structure. In addition, if there is an "add" in terms of an orthogonal instruction set there should be a "delete" and a "get" were appropriate.

Any forward reference. The reference's nodeId can be passed to the user defined callback; that way the user can decide how to deal with the child; note that in

[2015-07-28 09:54] martina-felber commented on #302
Hello!

Many thanks for your help and fast and detailed answers.

1. First I tried jpfr's suggestions (OS = Windows 7) and I was able to compile the client, but not the server. Probably I took the wrong source files.

* I downloaded the source code from https://github.com/acplt/open62541, branch master as zip file.
* I ran cmake-gui, selected the source code and build output directory and pressed

[2015-07-28 10:12] Stasik0 commented on #302
Hello Martina,

you may try to set GENERATE_NAMESPACE0_FILE="Opc.Ua.NodeSet2.Minimal.xml"
in order to speed up the ns0 generation, normally it should not be needed
to compile

The problems you have with MinGW seem to be an MinGW issue:
http://sourceforge.net/p/mingw/bugs/2256/, quote: "I confirm that replacing
"_cdecl" with "__cdecl" in the file MINGW_PATH/usr/include/unistd.h will
fix the compila

[2015-07-28 11:16] martina-felber commented on #302
Hello!
Thank you very much! With the indiciation of the namespace0 file the build process finished within a minute and after editing the unistd.h I could build with MinGW too.
Many thanks, I would have never been able to build it without your help.

[2015-07-28 13:40] ichrispa commented on #302
For OpenSUSE, you may also try setting the build type from 'RelWithDbgInfo' to 'Debug', which cuts down the compilation time considerably. You can then also use the full Namespace0 (Opc.Ua.NodeSet2.xml). The build otherwise takes about 90 Minutes, given that the compilers tries to optimize the rather huge generated namespace.

For Windows, the problem is definetely located in the setup of the MinG

[2015-07-28 14:07] martina-felber commented on #302
Thank you for the information!
Only with the option -DENABLE_GENERATE_NAMESPACE0=On (and GENERATE_NAMESPACE0_FILE="Opc.Ua.NodeSet2.Minimal.xml" to reduce build time) I was able to build with cmake and afterwards use the generated open62541.c and open62541.h file to set up a project in Eclipse for Windows 7 and OpenSuse (with cross compiler for ARM).
I thought I could build the project with the sin

[2015-07-28 14:31] ichrispa commented on #303
Whoopsy... after that short travis scare I'm making a new branch for these API features.

@jpfr: How difficult would it be to relocate/redefine the UA_<type>Node struct's to make them accessible to the userspace? I would suggest we only allow a UA_(Client|Server)_getNodeCopy(nodeId) function and not expose the sensitive nodestore, but still allow the user to actually get a full struct if he wants

[2015-07-28 14:59] FlorianPalm commented on #302
Namespaces are used to divide the address space into several mostly indepedent pieces. This concept is especially useful when you load several user defined information models. Each model defines a set of nodes and connections between them. To avoid naming collision (same node Identifier used more than one time within one namespace) every information model should be stored into a seperate namespace

[2015-07-28 15:35] Stasik0 commented on #302
DENABLE_GENERATE_NAMESPACE0=On should be not necesserly, though... What are the errors you get without it?

[2015-07-28 17:06] ichrispa commented on #302
@martina-felber: A little Addendum to FlorianPalms great explanation. If you use References, Objects, etc. defined in Namespace 0 they must also be defined in the server application. We currently have 3 different methods of doing that:

'DENABLE_GENERATE_NAMESPACE=Off' will use a minimal subset of Namespace 0 types and objects hardcoded into the Server_new() function. This configuration is targete

[2015-07-28 18:51] ichrispa commented on #285
Is there room in the documentation for a tutorial on open62541? Something to talk new users through creating server/client applications, datasources on variable nodes, callbacks in methods and monitoreditems an such?

[2015-07-29 04:35] billran opened #305 "Segmentation fault when reading UA_ExtensionObject"
Reading the (1, 51043) Demo node in the example server results in a segmentation fault.  I am using the MinGW tool chain in Eclipse Mars CDT on Windows 7 Pro and Open62541 release 0.1
![segmentationfault](https://cloud.githubusercontent.com/assets/12372976/8950007/6d81e4d6-3570-11e5-8d30-398249d7e326.PNG)
.  See attached screen capture.  The calling code is taken from the example:

  UA_ReadReques

[2015-07-29 05:45] martina-felber commented on #302
Hello!
Thank you for your great explanation of namespaces and their use. I have to admit that I don't know much about OPC yet. I have to thoroughly go through your example code. Unfortunately the OPC specifications are not freely available and I struggle a bit to find a good general (not vendor specific) documentation.

@Stasik0 I have to apologise, you were right: ENABLE_GENERATE_NAMESPACE0=On is

[2015-07-29 05:48] Stasik0 commented on #302
The specs are freely available from the opc foundation (you only need to register, though).

[2015-07-29 06:03] martina-felber commented on #302
@Stasik0 thank you very much, I thought only company members get access. I'm sorry, thank you!

[2015-07-29 07:29] ichrispa commented on #305
Try the current master instead of 0.1; if that is working, we can backport the fix.

I take it that the segfault is caused here?
'''
UA_ReadResponse rResp = UA_Client_read(client, &rReq);
'''

[2015-07-29 09:19] jpfr commented on #303
When we expose the node, the user needs to `_release` the node all the time. That's already difficult to enforce in the server code. Instead, we can easily give (server side) userspace access to the UA services. Then, the 'normal' services already encapsulate the logic to prevent the user to do dumb things like breaking the information model consistency.

With the admin session, we can write very

[2015-07-29 13:59] #302 closed

[2015-07-29 14:04] ichrispa commented on #303
I worked around that by implementing a UA_Server_getNodeCopy() function. Releasing the node is delegated there. So users can now add|delete nodes from the nodestore and copy|deleteCopy copies of the node. That should allow users to retrieve all information about a node without conflicting with node management, right?

The problem right now is that users have to include src/server/ua_nodes.h and it

[2015-07-29 16:07] billran commented on #305
The seg fault is still in Git-Revision: 8d09a93 dated July 28th.  The UA_NodeId pointer in the function UA_NodeId_init() is null at the end of the read calling stack.  P.S.  I am building a 32 bit dll.

[2015-07-29 16:14] ichrispa commented on #303
Minor progress report on the API high level rehaul.

@jpfr: here's what I meant with symmetric:

[code]
Note how the calls are principally the same, you just substitute 'Client' for 'Server' and voila :)

The server now support addNode and deleteNode functions for all node types. The client... not so much (but the once it does are symmetric to the server). Next I will create the deleteNodes servic

[2015-07-29 20:16] ichrispa commented on #305
Hi billran,

when trying to reproduce this error, NodeId(1,51043) is a Bytestring (Demo/Scalar/14). The node does not appear to have a value, which is exactly what is returned by the request (no segfaults, no contained DataValue). At least on x86_64 bit Linux (gcc/clang compiling /w and /wo -m32) this error is not reproducible. I'll give MSVS a try tomorrow.

Could you please provide a stack trace

[2015-07-29 21:15] billran commented on #305
I am testing against the demo server.exe in your 0.1 release.  That server has (1, 51043) as an ExtensionObject value for node 21.  Here's a screen shot from UaExpert:
![uaexpert](https://cloud.githubusercontent.com/assets/12372976/8970046/291dfbfe-35fc-11e5-8e2e-58f7e3922fd1.png)

[2015-07-30 09:33] martina-felber opened #306 "request for client and server API examples - cmake with BUILD_EXAMPLES configuration doesn't build"
Hello!

I am looking for more examples showing the usage of your client and server API. Are there more examples available than the provided ones in the /examples directory?

I thought that cmake would generate some examples with the option BUILD_EXAMPLES enabled.
I am using Windows 7, configured the MinGW makefile option and enabled following configurations:
BUILD_EXAMPLECLIENT, BUILD_EXAMPLESERVE

[2015-07-30 09:39] ichrispa commented on #306
You could have a look at https://github.com/acplt/open62541/blob/api_hl_abstractions/doc/firstSteps.rst and https://github.com/acplt/open62541/blob/api_hl_abstractions/doc/tutorial_nodes.rst; but be warned that both are still very much work in progress.

The errors you reported by BUILD_EXAMPLES are my bad. I will fix those ASAP.

[2015-07-30 09:52] ichrispa commented on #306
The examples should build fine now.

On the serverside, you can use UA_Server_addObjectTypeNode(); I think it currently only exists in the high level abstraction branch. The function is also provided for the client.

The High-Level abstraction branch also holds node iterators called UA_(Server|Client)_forEachChildOfCall. Have a look if those are not a bit more fitting for executing your node searc

[2015-07-30 12:48] martina-felber commented on #306
@ichrispa  many thanks to you!
the BUILD_EXAMPLES configuration works, and thanks for your tutorials
unfortunately I wasn't able to find any function "UA_(Server|Client)_forEachChildOfCall"

[2015-07-30 13:23] ichrispa commented on #306
Hi @martina-felber,

you need to checkout the current api_hl_abstractions branch (https://github.com/acplt/open62541/tree/api_hl_abstractions) in which I am working on making our API a bit more user friendly by abstracting the OPC UA technical details as much as possible. I am also working on the given tutorial to accompany those API functions.

UA_Server_forEachChildNodeCall() is defined in UA_Se

[2015-07-30 16:52] ichrispa commented on #303
@Stasik0: After building around in the HL-Abstraction branch, we can use userspace functions for creating all node types. I need to solve 2 problems to get you the userspace capable code generation:

  * addMonodirectionalReference needs to be exported (not that much of a problem really, since addReference is already there).
  * We need to be able to bootstrap nodes. I believe the simplest way of

[2015-07-30 18:44] jpfr commented on #306
Hey @ichrispa,
great to see the passion and the optimism in your work.

But please do not recommend alpha alpha feature branches to end users. Recommending the master branch instead of stable releases is already borderline. Things change daily in the development branches and this will be very frustrating for someone whose code breaks.

[2015-07-30 19:34] ichrispa commented on #306
Hi @jpfr,

thanks and you are of course right about the everchanging functionality of features in development and potential bugs. You are very welcome to suggest to @martina-felber how she can add <Object|Variable>Type nodes or instances thereof using the 0.1 release (or master), as I cannot find a solution given their current APIs.

[2015-07-30 20:49] jpfr commented on #306
Touché :-)
Currently, the only way to add an objecttype in master is to call "internal" APIs or the AddNodes service over the wire.
https://github.com/acplt/open62541/blob/master/src/server/ua_services_nodemanagement.c#L196
However, having the objecttype in itself doesn't help since we don't properly instantiate.

Your work is definitely on the right track. Just take care that we don't end up with

[2015-07-31 07:19] martina-felber commented on #306
@ichrispa thanks for your link to the high level abstraction branch, sorry I didn't get it at your post before.
I built the high level branch code with ENABLE_EXAMPLESERVER, ENABLE_EXAMPLECLIENT, ENABLE_AMALGAMATION, ENABLE_SUBSCRIPTIONS, ENABLE_ADDNODES, ENABLE_METHODCALLS
at the first try it works fine, I added the generated code to eclipse and added some nodes (for Machine 1) to the server, whi

[2015-07-31 08:10] ichrispa commented on #306
Hi @martina-felber ,

Yes, you will have to start a new request there. There is no way of knowing which references or nodes you (i.e. the user) is interested in examining. If you want to see the instance tree, you should create new iteration requests for hasComponent, organizes and hasProperty type references.

You can return the number of values returned, as that looks like the error code UA_STAT

[2015-07-31 12:32] ichrispa commented on #305
Hi @billran,

I cannot confirm the bug in the current master, meaning someone has already fixed this part. Also, the UA_Variant_decodeBinary() function that causes this bug appears to have undergone somewhat of a rewrite since 0.1.

As for fixing this error in 0.1, I will need to request some help from the recursive decoding binary gurus who build this part of the stack...

@jpfr or @Stasik0: In h

[2015-07-31 12:39] billran commented on #305
Ok, and keep up the great work you all have been doing.

Sent from my iPhone

[2015-07-31 13:32] Stasik0 commented on #305
@ichrispa just giving a quick look, doesnt the _init allocate the memore https://github.com/acplt/open62541/blob/0.1/src/ua_types_encoding_binary.c#L753?

Still no idea where it might break

@billran do you need the backport to 0.1, or could you imagine to switch to the newer version asap?

[2015-07-31 13:37] Stasik0 commented on #303
@ichrispa  looks a bit dirty, but i am fine with it. @jpfr @FlorianPalm what about you, guys?

[2015-07-31 13:40] ichrispa commented on #305
@Stasik0:

No, _init(*ptr) just writes initial values to *ptr. _new() would allocate and then call _init().

[2015-07-31 14:10] Stasik0 commented on #305
oh, you are right!

[2015-07-31 14:24] FlorianPalm commented on #303
Basicly I like your "symmetric"-approach @ichrispa. But instead of adding this functionality which apparently does not comply with the standard we could add a method and call it from the client-side, couldn't we? By doing this, we are free in chosing the parameters and semantics.

[2015-07-31 15:36] ichrispa commented on #303
@FlorianPalm: Client side addNodes mandate a parentId (unless we do not comply to the standard and ignore it). We have the same problem as we have on the serverside.

[2015-07-31 16:32] ichrispa commented on #305
I pushed 215fee64dcfc2701d576a8859ae1b4e539fcbebf, which appears to fix the issue. I would be more at ease if @Stasik0 or @jpfr could have a look at some point to verify that I did not make matters worse.

[2015-07-31 20:48] FlorianPalm commented on #305
For single extension objects it does solve the problem. As @Stasik0 stated UA_malloc is a bit faster.
But I do not understand this line:
``C
 dst->data = UA_malloc(dataType->memSize & ((!isArray && arraySize==-1) ? 1: arraySize));
``
Shouldn't be the "bitwise and" a "multiplication sign"?

[2015-08-01 06:18] ichrispa commented on #305
Yep. That should be a "*".

[2015-08-01 12:51] jpfr commented on #303
Every node (besides root) needs to have at least one hierarchical "upwards" reference.
Requiring a parent nodeid and reference type is a very elegant approach to enforce the constraint.

Since ns0 is bootstrapped in ua_server.c, I see currently no use case for parentless nodes.
Convince me with a good example, and I might change my mind.

[2015-08-01 13:37] Stasik0 commented on #303
Imho this can be the case in the xml file that is not constructed properly, the python script has to "create" the correct insertion order.

[2015-08-02 10:27] jpfr commented on #305
Fixed a memleak: e1c8991546cbfe45a6c5d04f268d82edaac6395e.

Release-master @Stasik0, should we tag a 0.1.1 release?
Several important fixes have landed in the recent weeks.

[2015-08-02 10:29] jpfr commented on #303
https://en.wikipedia.org/wiki/Topological_sorting

[2015-08-02 10:33] Stasik0 commented on #305
Yea, just tag it, everything else should work automatically

[2015-08-02 18:22] ichrispa commented on #303
So to conclude: We are not using any bootstrapping magic nodeids that oppose the spec. Instead, I will have the namespace class in the compiler determine a minimal dependency order of the nodes and reorder the printing sequence. Userspace add<XY>Node functions will be used wherever possible (the HL-Abstraction branch has them for all node types), or fall back to the current bootstrapping procedure

[2015-08-02 18:24] ichrispa commented on #304
The bug has been noted, I will fix this along with #303.

[2015-08-02 20:05] jpfr commented on #303
Yes! Here's an article I enjoyed with some python snippets.

http://www.embeddedrelated.com/showarticle/799.php
`There are two simple algorithms for a topological sort, Kahn’s algorithm and a depth-first-search algorithm. Both have execution times that are proportional to a weighted sum of the number of nodes and edges aN+bE.`

[2015-08-02 20:06] jpfr commented on #285
Just perfect. :smile:

[2015-08-03 06:54] tpiat opened #307 "UA_NODEID_BYTESTRING_ALLOC -- possible error?"
Probably I don't understand this, but
UA_NODEID_BYTESTRING(NS_INDEX, CHARS) defined as
UA_NodeId_from<B>CharByte</B>String(NS_INDEX, CHARS)

and
UA_NODEID_BYTESTRING_ALLOC(NS_INDEX, CHARS)  defined as
UA_NodeId_from<B>Char</B>StringCopy(NS_INDEX, CHARS)
instead
UA_NodeId_from<B>CharByte</B>StringCopy(NS_INDEX, CHARS)
Is this a error?

[2015-08-03 07:50] martina-felber commented on #306
Hello!

I checked out the current master code on Friday and today and tried several times, but I couldn't get the methodcalls working. The response of the client is always:
Method call was unsuccessfull, and 80750000 returned values available.
the return value is UA_STATUSCODE_BADMETHODINVALID as @ichrispa already said.
and the server doesn't write "getMonitoredItems was called".

[2015-08-03 07:59] Stasik0 commented on #307
Yes in theory, but we currently map strings to bytestrings internally so it works as expected ;) thank you for reporting.

[2015-08-03 09:00] Stasik0 commented on #306
Is it working with UaExpert?

[2015-08-03 09:12] martina-felber commented on #306
No, I get the error message: Call failed with status 'BadMethodInvalid'

[2015-08-03 09:22] MatthieuAdam opened #308 "Incorrect pointer test in ua_services_subscription.c"
In function Service_Publish we have:
    if(!sub) {
        response->subscriptionId = sub->subscriptionID;
        sub->keepAliveCount.currentValue=sub->keepAliveCount.minValue;
        .....
    }
Test should be: if(sub)

[2015-08-03 09:29] Stasik0 commented on #306
@martina-felber it seems to be fixed now, can you confirm?

[2015-08-03 09:31] #307 closed

[2015-08-03 09:35] Stasik0 commented on #303
@ichrispa +1 for no-bootstrapping in userland .xml files, just being curios, is it possible that UaModeler already enforces the right order so no action is required here?

[2015-08-03 09:36] Stasik0 commented on #305
@billran could you please test the newest 0.1.1 release? https://github.com/acplt/open62541/releases/tag/v0.1.1

[2015-08-03 09:58] martina-felber commented on #306
yes, thank you very much, the method call works now =)

[2015-08-03 11:33] #306 closed

[2015-08-03 12:08] martina-felber opened #309 "update variable (for example "the.answer") periodically or at any specific time at the server?"
Hello!

I have a few questions:

1. Is it possible, that the server updates a variable node, for example "the.answer" periodically? Or at any specific time?
I tried to use UA_Server_addRepeatedJob() as in your example to call every 2 seconds a callback function. Then I don't know what to do next. The Client provides an UA_Client_write function, but I couldn't find an Ua_Server_ function to update

[2015-08-03 12:32] ichrispa commented on #309
Hi @martina-felber,

If you want to update the variable periodically I would suggest you use a dataSource Variable node (see for example 'current time' or 'cpu temperature'). I am aware of the shortcoming of our API and I am working on a `UA_(Server|Client)_(get|set)AttributeValue()` function for the hl-abstraction branch - which, again, I cannot recommend using yet.

If you do feel adventurous yo

[2015-08-03 14:05] martina-felber opened #310 "planned releases and their features in the future (within 1-2 years)"
Hey!

I would like to know, which releases and features you approximately plan within a year or two. Or if you plan to expand the stack for another profile.
Many thanks and best regards
Martina

[2015-08-03 14:16] ichrispa opened #311 "Write service only supports value (why?)"
Hi all,

I am just finishing up ```UA_(Server|Client)_(get|set)AttributeValue(..., UA_AttributeId attributeId, void **value)``` for the hl-abstraction branch. The server can write any value but nodeId and nodeClass (node is being copied, modified then replaced by my implementation).

Given the current implementation of ```UA_StatusCode writeValue(UA_Server *server, UA_WriteValue *wvalue)```, the c

[2015-08-03 14:51] jpfr commented on #311
`WriteValue` contains an `AttributeId` field. So in principle you can write to any attribute of the nodes.
Feel free to add missing functionality. :-)

[2015-08-03 14:54] ichrispa commented on #311
Thanks for @HolgerJeromin for adding the label and @jpfr for the feedback :)

I have ```UA_Server_setAttributeValue(UA_Server *server, UA_NodeId nodeId, UA_AttributeId attributeId, void *value)```. Apart from parsing the value range field from the request, the function should serve to write just about any value - again excluding NodeId and NodeClass. If @jpfr and @Stasik0  as the original implemen

[2015-08-03 15:51] Stasik0 commented on #311
No objections here

[2015-08-03 16:00] jpfr commented on #311
The service will get a lot bigger in the future. For example, if we add node-level user access control, information model consistency rules, and so on.

To keep things consistent, we can either generally
- Beef up the userspace functions to take session information, etc. (which user is trying to do stuff) as an input and make the services lightweight wrappers around the userspace function.
- Have

[2015-08-03 16:15] ichrispa commented on #311
Clientside abstractions use services as a rule, so the hl-capabilities are just macros for services.

As far as the serverside is concerned, I'd generally prefer the second approach, i.e.:

Unfortunately, that means that my current approach is kind of wrong... so instead of redirecting the service to my function I guess I should add the functionality to the service, right? The hl-api should then o

[2015-08-03 17:48] billran commented on #305
Ok, I should be able to do that tomorrow .  I am traveling today.

Sent from my iPhone

[2015-08-04 06:37] Hexsc opened #312 "Problem with deleting a node in the node hirachy (UA_STATUSCODE_BADENCODINGERROR)"
Hey guys,

First of all, thank you for your excellent source code,
I had some great (and sometimes not so great) hours with it.

I've tried several versions of open62541, ran a couple of examples and mostly all are working now.
Now my question, I added some nodes to the node hirachy in my example and can delete them without problems with UA_Server_deleteNode(UA Server* server, UA_NodeId nodeId); (

[2015-08-04 06:43] ichrispa commented on #312
hi @Hexsc

the highlevel branch is mayor experimental magic, using it is not recommended. Other than that I would suggest you give UA_Client_delete<Type>Node() a try, which should simplify things.

[code]

Shouldn't your client be sending a &delReq at this point?

Regards,

ichrispa

[2015-08-04 07:43] Stasik0 commented on #312
@Hexsc but back to your original issue, the problem is that you are dereferencing a NULL pointer ```delReq.nodesToDelete```. Before assigning a value, you need to allocate memory e.g. ```delReq.nodesToDelete = UA_DeleteNodesItem_new();```

[2015-08-04 08:31] #308 closed

[2015-08-04 09:17] Hexsc commented on #312
Thanks for your fast answers!

@ichrispa UA_Client_deleteNode() is unhappily not working, the node has not been deleted and all his parameters are like before.

Server:
UA_Variant *myIntegerVariant = UA_Variant_new();
    UA_Int32 myInteger = 23;
    UA_Variant_setScalarCopy(myIntegerVariant, &myInteger, &UA_TYPES[UA_TYPES_INT32]);
    const UA_QualifiedName myIntegerName = UA_QUALIFIEDNAME(1, "th

[2015-08-04 09:19] martina-felber commented on #309
Hi ichrispa!

Many thanks for your answer. I didn't see the refresh button of UaExpert at the Attributes window and therefore didn't realize that at every read the current time value gets updated.

Reading with the open62541 Client works fine, but I can't write a value. I copied the client code from writing a value to the.answer and changed the datatype to UA_DateTime. I tried to set the time back

[2015-08-04 12:40] #312 closed

[2015-08-04 13:27] Hexsc opened #313 "Authenticate Clients with username/password"
Hi!

I have a little question to you.
Is it possible to authenticate clients with username/password at a server with the actual master branch?
At open62541.c I found:

...........
.Login_enableAnonymous = UA_TRUE,				// in my case UA_FALSE
.Login_enableUsernamePassword = UA_TRUE,
.Login_usernames = (char *[]){"user1","user2"},
.Login_passwords = (char *[]){"password","password1"},
...........

so

[2015-08-04 14:31] ichrispa commented on #303
@Stasik0: No, UAModeler uses the node creation order as far as I can tell.

To my utter amazement I managed to rewrite the namespace compiler to use userspace functions whenever possible (17ec7526dd6b8bf7f663443407d120ff6c1e02fe); which for reasons I cannot explain (propably sunspots) appears to be working.

The compiler attempts to find an already initialized parent node for each node. If none ca

[2015-08-04 14:39] Stasik0 commented on #313
Hi,

it is only possible with external clients e.g. with UaExpert, not with our client, yet. Should not be that hard to add, though.

[2015-08-04 15:51] ichrispa commented on #311
My question has been adequately answered. I'll consider how to re-implented the serverside hl-abstractions using the existing services once the namespace compiler is up and running.

[2015-08-04 15:52] #311 closed

[2015-08-04 16:34] billran commented on #305
The segmentation problem is fixed.  Thanks.

     On Monday, August 3, 2015 2:36 AM, Sten Grüner <notifications@github.com> wrote:

 @billran could you please test the newest 0.1.1 release? https://github.com/acplt/open62541/releases/tag/v0.1.1—
Reply to this email directly or view it on GitHub.

[2015-08-04 19:14] #305 closed

[2015-08-05 05:58] Hexsc commented on #313
Ok, thank you very much!

[2015-08-05 07:26] ichrispa commented on #309
Hi @martina-felber,

dataSources have a .read and .write function; writing currentTime has no effect, since afaik the function is not defined.

The function themselves return a StatusCode to indicate whether they succeeded. If a function reports that it has failed to execute, it can not be expected that the  DataValue returned by it is valid. If an error is to be conveyed to the client, but the fu

[2015-08-05 07:28] ichrispa commented on #304
Q: Do you want the fix backported to master or wait until the HL-Branch has taken a somewhat solid shape and gets merged back?

[2015-08-05 08:16] Stasik0 commented on #304
Imho it is not that critical atm to be backportes.

[2015-08-05 08:27] HolgerJeromin commented on #313
I would like to let this issue open till it is possible with our client.

[2015-08-05 18:00] ichrispa commented on #310
Hi @martina-felber,

I cannot answer for everyone involved in this project, but I will reluctantly admit that the stack is being developed on a best-effort basis and not on a fixed feature roadmap. My current take is to implement whatever I can when it becomes necessary for me or my colleagues to use them (and of course if time permits).

I would ultimately like to have a full featured OPC UA stac

[2015-08-06 07:53] martina-felber commented on #310
Many thanks for your honest answer!
Best regards
Martina

[2015-08-06 07:53] #310 closed

[2015-08-06 12:19] martina-felber commented on #309
Many thanks for your answer and advice!
I don't know why, but it seems as UaExpert calls a read request multiple times for each data source node.
best regards Martina

[2015-08-06 12:19] #309 closed

[2015-08-06 12:56] martina-felber opened #314 "memory leak at UA_Server_addVariableNode - if parentNodeId is UA_NODEID_STRING"
Hello!

I have a problem with memory leaks using UA_Server_addVariableNode, UA_Server_addObjectNode or any other UA_Server_add method. The leak occurs when the parent nodeId is allocated at the call with UA_NODEID_STRING.

example code:
[code]

Is this an intended behaviour? How can I add variable nodes or other nodes to folders with a string nodeId without having a memory leak?

Many thanks for y

[2015-08-06 15:23] FlorianPalm commented on #314
Hi Martina, you are right. A UA_ExpandedNodeId_deleteMembers() call within UA_Server_addVariableNode is missing. Thank you for your report :+1:

[2015-08-07 03:02] billran opened #315 "UA_DataValue and UA_DiagnosticValue Use of Bit Fields"
UA_DataValue and UA_DiagnosticValue structs use bit fields for boolean flags.  Both java and C# do not have native language support for bit fields.

In my case (I am attempting to write a java client), this does not allow passing a UA_ReadResponse object back to java for example.  Instead, I would have to define a parallel set of structs, then copy all the data out of the UA_ReadResponse into the

[2015-08-07 05:18] martina-felber commented on #314
you are welcome!
I am using your release v0.1.1, are you going to update it within two weeks at the latest?

[2015-08-07 08:18] Kal-elpatch opened #316 "Problem build in Visual Studio 2013"
Hi guys!
I  build the open62541.sln with CMAKE gui, but occurs this error when compile

error MSB6006: "cmd.exe" exited with code 9009.	C:\Program Files (x86)\MSBuild\Microsoft.Cpp\v4.0\V120\Microsoft.CppCommon.targets	170	5	open62541-object

Someone can help me please?

[2015-08-07 08:46] tpiat opened #317 "Bug in open62541.c"
If write
UA_ClientNew and next UA_ClientDelete,
clientDelete try to free memory in clinet-token, this memory was not allocated, no any truobles, but it is  possble error.
I can remove this effect by addintion string

UA_UserTokenPolicy_deleteMembers(&client->token);

in UA_Client_delete;

[2015-08-07 09:02] Stasik0 commented on #316
Which branch are you using? Which msvs version are you using?

[2015-08-07 09:15] FlorianPalm commented on #317
It is a free on a null pointer (the memory for the client is allocated with calloc) . Afaik this should not be a problem.

[2015-08-07 09:33] Kal-elpatch commented on #316
I use Microsoft Visual Studio Ultimate  2013  Version 12.0.31101.00 Update 4
I download the source code from
http://open62541.org/ .zip Button
and from
https://github.com/acplt/open62541.git

[2015-08-07 09:38] Kal-elpatch commented on #316
Master branch sorry

[2015-08-07 09:52] tpiat commented on #317
I have receive not-null pointer.

[2015-08-07 10:26] Hexsc opened #318 "ReferenceTypeId?"
Hi!

For what exactly is the referenceTypeId in various functions required?
I found no use for it until now.

Thanks in advance for your always very helpful answers.
Regards,
Hexsc

[2015-08-07 10:34] FlorianPalm commented on #318
If you would like to create a node within the address space of the server you need to specify how this new node is connected to other nodes. There are many different types of references, e.g., Organizes HasComponent, HasProperty etc.
Every reference is identified by a nodeId i.e. ReferenceTypeId

[2015-08-07 11:05] Hexsc commented on #318
@FlorianPalm thank you very much! :+1:

[2015-08-07 11:43] FlorianPalm commented on #317
You are right. The bug was fixed in the master but not in the current release. Thanks!

[2015-08-07 11:43] #317 closed

[2015-08-07 11:44] #318 closed

[2015-08-07 11:52] #314 closed

[2015-08-07 12:38] Stasik0 commented on #316
Afaik open62541 builds only with msvs 15 due to the lack of c99 support in the older versions :( Master is compiled with vs15 by our ci server.

[2015-08-07 13:22] Kal-elpatch commented on #316
Thanks :)

[2015-08-07 14:50] #316 closed

[2015-08-07 15:08] Stasik0 commented on #315
hi @billran, you are right: using bitfields is a matter of space-efficiency since one of our goal is to target embedded devices and to minimize the footprint of the stack

what about doing a trick like that?

[code]
and than carefully reading the bits out of the integer i? Probably it would either not work in Java (no union types,  eh?).

Cannot you just cast the pointer to UA_DataValue to (UA_Int

[2015-08-07 17:25] Stasik0 commented on #304
just to add another related bug -> the current version of the generator creates two HasTypeDefinitions for an ObjectTypeNode, one is created via the function UA_Server_addObjectTypeNode the second one explicitely via UA_Server_AddMonodirectionalReference directly afterwards

[2015-08-07 18:30] Stasik0 commented on #294
i added server_nodeset.c

[2015-08-07 20:55] schumajs opened #319 "Build on OSX"
Hi guys,

I managed to build the project and run the examples on OSX with some minor adjustments. I can submit a patch file but the latest revisions seem to break the examples. Correct me if I'm wrong and if I'm just doing something wrong. Let me know if you're interested in having this merged. If so I would merge the newest revisions into my feature branch first.

Best,

Jens

[2015-08-07 21:26] Stasik0 commented on #319
hey @schumajs, yea sure. Unfortunately afaik no-one of the core team has a mac running so we can not test directly. OSX support is clearly desired!

[2015-08-07 21:33] schumajs commented on #319
Ok, I have trouble to make it work at the moment. The last working pull was around 1 pm today (before a whole bunch of new revisions were pushes). Did you rebase the repo by any chance?

[2015-08-07 21:46] Stasik0 commented on #319
Master is protected from history-rewrites, so the changes are only incremental. Can you spot the exact problematic commit?

[2015-08-07 21:55] schumajs commented on #319
The last working revision for me was 886053f61954d7954263094c9afb1f004cebc77a. After that i got lots of requests to merge manually:

Auto-merging tools/generate_datatypes.py
CONFLICT (content): Merge conflict in tools/generate_datatypes.py
Auto-merging tools/amalgamate.py
CONFLICT (content): Merge conflict in tools/amalgamate.py
Auto-merging src/ua_util.h
CONFLICT (content): Merge conflict in src/

[2015-08-07 21:58] schumajs commented on #319
Note: We didn't change any of the files.

[2015-08-08 04:30] Stasik0 commented on #319
The commit was in 0.1 branch, wasn't it? And now you probably want to merge 0.1 and master which is a huge difference.

Probably it would be easier to reapply    the changes on the master from the scratch. How big is the diff?

[2015-08-10 09:27] jpfr commented on #319
@schumajs
Great! Then we can probably integrate the changes in no time.
Can you show the result of a simple `git diff CMakeLists.txt 0.1` to compare with the 0.1 branch?

[2015-08-10 11:05] HolgerJeromin commented on #319
We can use Travis to build on Mac OS X as well:
http://docs.travis-ci.com/user/workers/os-x-infrastructure/

[2015-08-11 08:35] martina-felber opened #320 "DataSource Variable works on Windows but not on Linux - invalid free"
Hello!

I've tried to define a datasource variable node, which increments a value on each read and offers a write function to set the value of the variable to the given param. I copied your example code which adds the "current time" data source variable. Your example works finde on Windows and Linux. But my defined data source variable works only on Windows and crashes on Linux (openSUSE 13.1). Va

[2015-08-11 08:43] martina-felber opened #321 "Client memory Leak if connection failed - Master branch"
Hello!

I'm using your master branch code and get a memory leak if the connection to the server failed.
If I start the client without a running server I get the following output from valgrind:

user@linux:~/AM335x-052-eglibc/eclipse/workspace/opc_linux_datasource_client/Debug> valgrind --leak-check=yes ./opc_linux_datasource_client
==5701== Memcheck, a memory error detector
==5701== Copyright (C)

[2015-08-11 09:09] Stasik0 commented on #320
As far as I understand it you will need to allocate memory for the data value and copy it into it.
The server tries to free this pointer after the response has been sent and crashes.
So instead of passing a pointer to handle to value.data as in ```value->value.data = pValue;``` try to allocate ```UA_Int32* pValue = UA_Int32_new();``` and copy the value. Since the last implementation, the user has

[2015-08-11 11:11] martina-felber commented on #321
I don't know what you did, but it does not work.
I downloaded the current master branch half an hour ago, the example code crashes and if I use the new open62541.c and h file I get following output from valgrind when starting the server:

user@linux:~/AM335x-052-eglibc/eclipse/workspace/opc_linux_browse_server/Debug> valgrind --leak-check=yes ./opc_linux_browse_server
==7472== Memcheck, a memory e

[2015-08-11 12:18] martina-felber commented on #320
Many thanks for your hint!

[2015-08-11 12:18] #320 closed

[2015-08-11 12:36] Stasik0 commented on #321
But client has no leaks :) note the error "https://github.com/acplt/open62541/blob/master/examples/networklayer_tcp.c#L283" -> it seems that the server cannot bind the socket -> the server is probably running twice

However there was a problem with error handling in this case. I pushed a fix

[2015-08-11 13:07] Stasik0 commented on #321
btw: @martina-felber would you write me a mail? http://www.plt.rwth-aachen.de/cms/PLT/Der-Lehrstuhl/Team/~eljy/Gruener-Sten/ We may have an interesting event for you.

[2015-08-12 07:07] ichrispa commented on #304
The bug should be fixed in the latest commit to the hl-api branch.

[2015-08-12 08:54] martina-felber commented on #321
thanks for the fix!
I don't know why but I still can't get it working, I enabled ENABLE_METHODCALLS, ENABLE_SUBSCRIPTIONS, ENABLE_AMALGAMATION, BUILD_EXAMPLECLIENT, BUILD_EXAMPLESERVER, ENABLE_ADDNODES with cmake.

I used the open62541 files and server.c and client.c from the examples directory. At first I thought it's a problem with methodcalls, because both applications crashed, when the method

[2015-08-12 09:03] Stasik0 commented on #304
@ichrispa i confim, still there are double-relations presented e.g. for i=85 there are two HasTypeDefinitons to i=61... the first one seems to be created via addObjectNode even if i=61 does not exist at the moment. The second one is created by the bootstraping. Is addObjectNode not checking the existence of referenced nodes?
[code]

[2015-08-12 09:09] Stasik0 commented on #321
@martina-felber I cannot reproduce it, master works good here on linux... try a clean checkout of the master in another folder...

[2015-08-12 09:42] martina-felber commented on #321
okay, probably I got the wrong files. I tried on Linux openSuse 13.1:
git clone https://github.com/acplt/open62541.git
ENABLE_METHODCALLS, ENABLE_SUBSCRIPTIONS, ENABLE_AMALGAMATION, BUILD_EXAMPLECLIENT, BUILD_EXAMPLESERVER, ENABLE_ADDNODES

I'm not sure if "git clone https://github.com/acplt/open62541.git" is the current master branch, I just copied the build instructions. I usually download the z

[2015-08-12 10:36] Stasik0 commented on #321
but the original problem is fixed, isn't it?

could you test if it is a regression or not i.e. compare it to the version of 10. August. I am pretty sure i did not introduce it

[2015-08-12 11:03] Stasik0 commented on #321
okay, hopfully it solved it.. i have seen some memleaks in the server, but it is not caused by me :)

[2015-08-13 12:14] martina-felber commented on #321
thank you very much, your code works!

[2015-08-13 12:14] #321 closed

[2015-08-14 06:36] martina-felber opened #322 "memory leak at UA_Server_addMethodNode if UA_NodeId is a string"
Hello!

Thanks for your example code for method calls in the master branch (I downloaded the current master branch this morning).
Unfortunately I get a memory leak if I use UA_Server_addMethodNode and the NodeId is a string.

[code]

[code]

valgrind output:

==2195==
==2195== HEAP SUMMARY:
==2195==     in use at exit: 12 bytes in 1 blocks
==2195==   total heap usage: 879 allocs, 878 frees, 173,70

[2015-08-14 06:39] DuhaNN commented on #300
@ichrispa can you help me with android? Do you have wrapper? Thanks

[2015-08-14 08:29] ichrispa commented on #322
Hi Martina,

does that node ever get deleted after you create it? Is there any reason to assume that the memory allocated by addNodeWithSession should have been deallocated?

Best regards,

Chris

[2015-08-14 09:07] Hexsc opened #323 "Subscriptions in winxp are not working"
Hi!

I want to mention that subscriptions are not working work in winxp.
I tested my code in win7 and openSUSE-13.1 and it worked fine, but in winxp only the first UA_Client_doPublish command directly after creating the subscription works without problems.
The others are working randomly and sometimes the exe crashes at UA_Client_removeSubscription.

Regards,
Hexsc

[2015-08-14 11:11] martina-felber commented on #322
Hi Chris!

I'm not very familiar with your internal API. I stepped through your code and like valgrind stated at line 7530 is memory allocated but never freed. This happens intern in function UA_Server_addNodeWithSession(). In general the NodeId gets copied several times and freed afterwards but I think not at these lines of code:

the param NodeId gets copied to result
[code]

result is returned

[2015-08-14 11:45] ichrispa commented on #322
Hi @martina-felber,

how are you stopping the server? Do you for example intercept any signals and perform a cleanup before exiting?

Beste regards,

Chris

[2015-08-14 11:54] martina-felber commented on #322
Hi!

I just started the server, no client connection and then I pressed Ctrl + C to terminate the server. My server only adds this one method node and if the nodeId is a string -> a memory leak occurs.

user@linux:~/AM335x-052-eglibc/eclipse/workspace/opc_linux_method_server/Debug> valgrind --leak-check=yes ./opc_linux_method_server
==3451== Memcheck, a memory error detector
==3451== Copyright (C)

[2015-08-14 15:02] schumajs commented on #319
Hey guys,

I just wanted to let you know that I'm still on it. I applied my changes to the master branch but ended up with weird include errors that could be fixed by changing the include order. I need to dig a bit deeper to find the cause of those errors. Anyway the lib is building. I couldn't make the examples build, though. If you want have a first peek you can checkout branch 'osx' in my fork:

[2015-08-14 15:47] StalderT opened #324 "Subscription timestamp problem"
Hello,

I use the server in git examples directory.

If I browser the "current time" variable with UAExpert :

1) With subscription I have no timestamp.

2) If I read the variable I have timestamp.

You can see the result :

![timestamp](https://cloud.githubusercontent.com/assets/13799456/9277743/6159d8e6-42ac-11e5-87da-258225f87277.png)

Is it normal ?

[2015-08-15 12:32] StalderT opened #326 "Memory leak in ServerNetworkLayerTCP_getJobs function"
ServerNetworkLayerTCP_getJobs function allocate js variable (UA_Job type) but sometime, for some reasons return 0.

In this case UA_Server_run_mainloop function don't free js variable allocated by ServerNetworkLayerTCP_getJobs.

You can find code to correct the problem here : https://github.com/acplt/open62541/pull/325

Best regards,

Thomas

[2015-08-15 13:43] StalderT opened #327 "Memory leak in UA_Subscription_deleteMembers"
UA_Subscription_deleteMembers want to Delete unpublished Notifications.

UA_Subscription_deleteMembers call LIST_REMOVE and after Subscription_deleteUnpublishedNotification. But Subscription_deleteUnpublishedNotification use the list to Delete unpublished Notifications and "not" are never freed.

You can find code to correct the problem here : https://github.com/StalderT/open62541/commit/097f693ab

[2015-08-15 13:52] Stasik0 commented on #327
Cool! This was the missing memleak. Could you make a PR to save your authorship?

[2015-08-15 13:53] StalderT commented on #327
May be same problem in Subscription_updateNotifications

    if(Subscription_queuedNotifications(subscription) >= 10) {
        // Remove last entry
        LIST_FOREACH(msg, &subscription->unpublishedNotifications, listEntry)
            LIST_REMOVE(msg, listEntry);
        UA_free(msg);
    }

msg can be removed by LIST_REMOVE but only the first msg is freed.

msg->notification->notificationData

[2015-08-15 14:21] Stasik0 commented on #327
I am pretty sure that you van check the first one by running server in valgrind and executing the client, not sure about the second one...

[2015-08-15 14:50] StalderT commented on #327
Yes I have test and validate the first with valgrind. For the second I have no idea how to test it.

[2015-08-15 15:45] Stasik0 commented on #327
Maybe just by changing 10 to 1? Could you look into the debugger? You can also try to issue subscriptions in uaexpert...

[2015-08-15 16:24] StalderT commented on #327
I will try It monday.

The comment indicate : remove last entry

But loop seems to want to delete all items?

Have you more information?
Le 15 août 2015 17:45, "Sten Grüner" <notifications@github.com> a écrit :

[2015-08-16 16:38] billran commented on #315
To get a working java client that supports read, write and browse in release 0.1.1, I used the BridJ open source project (https://code.google.com/p/bridj/) which supports bit fields, but does not support passing structs by value.  Structs must be passed by reference (i.e. a pointer argument or return pointer).

This restriction necessitated creating wrapper functions around the Open62541 functions

[2015-08-16 16:38] #315 closed

[2015-08-16 20:04] StalderT commented on #322
For me I have two leak with UA_NODEID_STRING(1, "Hello Server") instead of UA_NODEID_NUMERIC(1,62541)

==2648== HEAP SUMMARY:
==2648==     in use at exit: 24 bytes in 2 blocks
==2648==   total heap usage: 1,622 allocs, 1,620 frees, 323,469 bytes allocated
==2648==
==2648== 12 bytes in 1 blocks are definitely lost in loss record 1 of 2
==2648==    at 0x4029FEC: malloc (in /usr/lib/valgrind/vgpreloa

[2015-08-16 20:48] StalderT commented on #322
For the second memory leak : UA_Server_addMethodNode make 2 allocations for createdNodeId. Remove the second.

You can find the patch here : https://github.com/StalderT/open62541/commit/41583938296c638fd9131ee3db904ad5f2a1d622

[2015-08-17 05:08] jpfr commented on #327
If you want to free the memory in a linked list, you should use `LIST_FOREACH_SAFE`.
Otherwise, you would access the recently freed memory to jump to the next element.

Something like this:
[code]

[2015-08-17 06:12] Stasik0 commented on #323
@Hexsc it seems that there is a memory problem, can you start your server in valgrind and repeat the actions that cause the error? Then show us the valgrind trace. Probably there is some uninitialised read or write

[2015-08-17 06:14] Stasik0 commented on #319
@schumajs okay, looks good, the changes see to be marginal. What are the errors you getting from the example builds?

[2015-08-17 07:04] martina-felber commented on #322
many thanks for your patches!

[2015-08-17 07:04] #322 closed

[2015-08-17 07:20] HolgerJeromin commented on #323
@Stasik0: valgrind and windows (xp)? :-)

[2015-08-17 07:23] FlorianPalm commented on #323
server -> linux
client -> winxp

[2015-08-17 07:29] Stasik0 commented on #323
@HolgerJeromin I did not see that the client has problems. Still one may try to run client in valgrind to detect problems under openSUSE.

[2015-08-17 07:30] #326 closed

[2015-08-17 07:33] Stasik0 commented on #323
In the client, apart from memleaks, I see the following error
[code]
@Hexsc you a probably running some other client code? Do you?

[2015-08-17 07:34] Stasik0 commented on #324
requiring @ichrispa

[2015-08-17 08:32] StalderT opened #330 "Make server.c more robust"
Hello,

UA_Server_addMethodNode can allocate memory if createdNodeId is not NULL.
After we must call UA_NodeId_deleteMembers to free the memory.

Patch here : https://github.com/acplt/open62541/pull/328

In case of error in UA_Server_addMethodNode the return value is different from UA_STATUSCODE_GOOD and server.c does not release memory.

Patch here : https://github.com/acplt/open62541/pull/329

R

[2015-08-17 08:47] HolgerJeromin commented on #330
Thanks for your code!
I don't think these description issues are needed, the master guys for this code will find the PRs :-)

[2015-08-17 08:49] StalderT commented on #327
Not easy to reproduce but if I change :

    if(Subscription_queuedNotifications(subscription) >= 10) {

to

    if(Subscription_queuedNotifications(subscription) >= 1) {
        printf("I AM HERE\n");

We have a memory leak :
I AM HERE
^C[08/17/2015 08:46:38.297.172] info/server	Received Ctrl-C

==1663==
==1663== HEAP SUMMARY:
==1663==     in use at exit: 312 bytes in 4 blocks
==1663==   total he

[2015-08-17 09:13] StalderT commented on #327
With the patch : https://github.com/acplt/open62541/compare/master...StalderT:patch-3

I have the result :

I AM HERE
^C[08/17/2015 09:09:08.692.339] info/server	Received Ctrl-C

==2001==
==2001== HEAP SUMMARY:
==2001==     in use at exit: 0 bytes in 0 blocks
==2001==   total heap usage: 17,825 allocs, 17,825 frees, 56,379,512 bytes allocated
==2001==
==2001== All heap blocks were freed -- no leak

[2015-08-17 09:16] StalderT commented on #330
Sorry I'm new with Github and I still do not know all the mechanisms. I learn and I close this issue.

[2015-08-17 09:16] #330 closed

[2015-08-17 09:26] Hexsc commented on #323
@Stasik0  I took your example code (master branch 13.8) and changed several things to test subscriptions (e.g. with datasource variables). In valgrind, I have the same invalid read as you, additional to a the bunch of memory leaks.

[2015-08-17 09:33] Stasik0 commented on #323
But no further invalid access-indications?

[2015-08-17 09:36] Hexsc commented on #323
No.

[2015-08-17 10:38] StalderT commented on #323
A patch to remove Invalid read of size 4

https://github.com/acplt/open62541/compare/master...StalderT:patch-4

@Hexsc can you try client on xp with patch?

Memory leak persists :

==2952==
==2952== HEAP SUMMARY:
==2952==     in use at exit: 170 bytes in 7 blocks
==2952==   total heap usage: 155 allocs, 148 frees, 1,121,862 bytes allocated
==2952==
==2952== 10 bytes in 1 blocks are definitely lost

[2015-08-17 10:40] Stasik0 commented on #323
@StalderT you are a second quicker than I :( :+1:

[2015-08-17 11:07] StalderT commented on #323
First memory leak : https://github.com/acplt/open62541/compare/master...StalderT:patch-5

[2015-08-17 11:28] Hexsc commented on #323
@StalderT It works now, many thanks to you!
But why did it not work before, that invalid free cannot be that obstructive, right?

[2015-08-17 11:45] Stasik0 commented on #323
double free is an undefined behaviour... we were just lucky it did not crash on windows7 and opensuse

[2015-08-17 11:47] martina-felber opened #332 "how to add a method call with UA_Int32 array as input and output argument?"
Hello!

I would like to set arrays as input and output arguments for method calls. But the client call always fails.
At the moment my callback function at the server just prints a message and returns with UA_STATUSCODE_GOOD.

I added the method node to the address space of the server:
[code]

client code:
[code]

the return value at the client is UA_STATUSCODE_BADINVALIDARGUMENT.
I tried with UaEx

[2015-08-17 11:47] Stasik0 commented on #323
@StalderT i allowed myself to open a pull-request of the fix

[2015-08-17 12:37] StalderT commented on #323
fix for second memory leak https://github.com/StalderT/open62541/commit/e7f8f0a26263f2915cfa06add351a227be523080

But not sure that it don't affect other things.

[2015-08-17 12:41] Stasik0 commented on #323
Let us pull the invalid read first and ask @ichrispa for memleak review

[2015-08-17 13:41] Stasik0 commented on #327
this is the last open PR, right?

[2015-08-17 13:50] StalderT commented on #327
yes https://github.com/acplt/open62541/pull/333

[2015-08-17 13:53] Hexsc commented on #323
With the newest master i have again invalid reads :(

==7417== Invalid read of size 4
==7417==    at 0x806366F: UA_Client_removeSubscription (open62541.c:11831)
==7417==    by 0x8049F2D: main (client.c:318)
==7417==  Address 0x42b3e20 is 56 bytes inside a block of size 64 free'd
==7417==    at 0x402B1DD: free (in /usr/lib/valgrind/vgpreload_memcheck-x86-linux.so)
==7417==    by 0x8063668: UA_Clien

[2015-08-17 14:00] Stasik0 commented on #323
@Hexsc I cannot reproduce it, do you use this one? https://github.com/acplt/open62541/commit/c53521a86cee2cb15fa20b5112a56346f1b4ce53

[2015-08-17 14:06] StalderT commented on #323
It also works for me :

==2401== Memcheck, a memory error detector
==2401== Copyright (C) 2002-2013, and GNU GPL'd, by Julian Seward et al.
==2401== Using Valgrind-3.10.1 and LibVEX; rerun with -h for copyright info
==2401== Command: b.out
==2401==
Browsing nodes in objects folder:
NAMESPACE NODEID           BROWSE NAME      DISPLAY NAME
0         61               FolderType       FolderType
0

[2015-08-17 16:52] Stasik0 commented on #332
Without haveing tested it and without looking into the spec, I'd guess that arrayDimensionsSize has to be 1, since you specify an array and not a matrix, the second argument has to be an array of size 1 containing a 5 i.e.:

'''
inputArguments.arrayDimensionsSize = 1; // one dim array
UA_UInt32 * pInputDimensions = UA_UInt32_new();
*pInputDimensions = 5;
inputArguments.arrayDimensions = pInputDime

[2015-08-17 17:16] Stasik0 commented on #332
@martina-felber would it be possile to ask you to protocol such things in a wiki page? Maybe just as QA, or as a list of links to the relative issue (since there trend to get lost).

[2015-08-18 06:51] martina-felber commented on #332
Good morning!
Many thanks for your answer! I tried your suggestion but unfortunately it didn't work.

I tried the following:
server.c
[code]

client.c:
[code]

Of course I can protocol such questions with examples in your wiki page. Just show me how =)

best regards

[2015-08-18 09:42] FlorianPalm commented on #332
Hi Martina,
first of all you need to set the valueRank of your inputArguments and outputArguments variable to 1
[code]
This means that you are using an array type as argument:
[code]
inputArgumentsSize needs to be 1 as you just pass 1 parameter (array type) to the method.

I have looked into the source code and it seems there is a problem with array types at the moment. I will see if there is a qu

[2015-08-18 13:04] StalderT commented on #327
Close : https://github.com/acplt/open62541/commit/47ca120f5d6b4ce4d2812e4e0294b64b3745d976

[2015-08-18 13:04] #327 closed

[2015-08-18 13:31] martina-felber opened #336 "how to use UaModeler with cmake - generate namespace0 file"
Hello!
I would very appreciate it if someone could give me information about the UaModeler and cmake.

I would like to define ObjectTypes like:
[code]

In your API there's an UA_Client_createObjectTypeNode function but I wasn't able to find any equal function on the server side like UA_Server_addObjectTypeNode. I don't understand why the client can add object types or delete nodes and the server c

[2015-08-18 13:58] Stasik0 commented on #336
hi Martina,

please look into the "api_hl_abstractions" branch. There a demo server which is able to create nodeset is shown https://github.com/acplt/open62541/blob/api_hl_abstractions/examples/server_nodeset.xml and https://github.com/acplt/open62541/blob/api_hl_abstractions/examples/server_nodeset.c. The example is compilable with BUILD_EXAMPLES option.

hopefuly it will be integrated into the m

[2015-08-18 15:22] Stasik0 opened #337 "0.2 release meta issue"
Hey folks,

i'd like to evaluate how 0.2 can evolve. From my point of view we have more-or-less enough feature to create a new stable release. Afaik these are:

* methods
* subscriptions
* xml-nodeset generation
* new user-api
* MSVS compatibililty
* performance improvements
* documentation and tutorials.

I'd like to have an alpha tag due to our workshop on the 7.9.15. Imho only the api_hl_abstra

[2015-08-18 21:21] ichrispa commented on #324
Will look into it.

[2015-08-18 21:36] ichrispa commented on #337
@Stasik0: The single major blocker right now is the serverside api and services support. Some isolated services like the nodemanagement and attributes are not fully matures (ex: you can create 4 node types and delete none using a client). Also, many of the hl-features use the server's nodestore instead of reusing the service apis. The two major blockers I currently see are:

  * Nodemanagement Ser

[2015-08-19 06:03] Stasik0 commented on #337
Okay, so the commitment is to do the merge before 7.9.? So we can present the 0.2-alpha version there? Would you prefer to write tutorials in the doc-system or via a wiki in github, or both?

[2015-08-19 07:47] martina-felber commented on #336
Hi @Stasik0!

Many thanks for your answer! :)
I tried to stick to your master branch. I used your server_nodeset.xml file and copied everything beneath the aliases (the object type definition and instantiation) to the Opc.Ua.NodeSet2.Minimal.xml file above the end \UANodeSet. And it worked!!!
The strange thing is that I'm using the minimal nodeset, which does not contain the folder ObjectTypes or

[2015-08-19 08:27] Stasik0 commented on #336
all credits go to @ichrispa

regarding "uax" could you post the "<UANodeSet" tag of your file including all the namesapce definitions? I think uax is just an alias to "http://opcfoundation.org/UA/2008/02/Types.xsd" as seen in http://forum.unified-automation.com/topic1530.html

@ichrispa do you evaluate the XML namespace definitions?

[2015-08-19 08:56] martina-felber commented on #336
[code]
this is the generated xml file from UaModeler:
[code]

I still have one problem. Before I tried the built example server and it worked. Now I tried to build a project in Eclipse to use the defined object type in the source code but it seems that all generated nodes with the UaModeler are missing. I used cmake with amalgamation and checked the open62541.c file. The defined nodes are at the e

[2015-08-19 09:28] martina-felber commented on #336
I made a mistake - I forgot to add the symbol ENABLE_GENERATE_NAMESPACE0 to the project build settings. Now it's working with Eclipse as in the built example server.

[2015-08-19 11:12] ichrispa commented on #336
Hi @martina-felber,

The compiler cannot handle uax:<type> messages, because as far as I can see its usage is illegal in this context. The value should use aliases to fields as defined in the dataType, but uamodeller simply inserts "uax:" to all field aliases. As I do not consider that to be in compliance with an XML namespace description, I am a bit unwilling to fix it on the compiler side.

I al

[2015-08-19 11:19] tpiat commented on #317
I'm sorry... but I have SIGSEGV at line 10284
function UA_Client_delete,
UA_UserTokenPolicy_deleteMembers(&client->token);

 in new version. In version 1.0  this signal was happend without this string.
Probably, in this version (1.1.0) this function call no longer needed.

[2015-08-19 11:36] martina-felber commented on #336
Many thanks, replacing "uax:" works fine.
I wondered if it's possible to add method nodes too. I added an Object with a Method (int32 as input and output argument). I can see the method node in UaExpert, but a call generates a "BadInternalError" from UaExpert. I defined the method in server.c with the same name as the BrowseName, but it does not work.

[2015-08-19 11:47] ichrispa commented on #336
The following must apply:
  * The object passed to the call must have a forward hasComponent reference to the method
  * The In|OutputArguments Variablenodes of the method must be referenced with hasProperty references by the method
  * The Browsename of both argument variable nodes must be in namespace 0 (qualifiedname), no matter what namespace the actual nodes are in.
  * Both In|OutputArgument

[2015-08-19 12:40] Stasik0 commented on #336
@ichrispa the usage is not illegal since "uax:" has been declared as an XML-namespace here ```<UANodeSet [...] xmlns:uax="http://opcfoundation.org/UA/2008/02/Types.xsd" [...]>``` which reference the types definitions. Can Pyhon's parser cope with namespace? Or can we detect this particular namespace manually (as kinda pre-processor in Pyhton)?

[2015-08-19 13:39] ichrispa commented on #336
it could, but the namespace name is not valid in that context. A double is defined in namespace 0 with the alias "Double". The type <uax:Double> would suggest that uamodeller has defined something called a double in his own namespace context, which it has not. Is that a general convention (in which case it should be integrated into the compiler) or is this just uamodeller misbehaving?

[2015-08-19 13:57] martina-felber commented on #336
Hi @ichrispa!
Many thanks for your answer! I'm sorry but I didn't understand everything.
What do you mean with:

I checked your other points and I think that they are fulfilled, I only had to change the ValueRank of the Arguments to Array.

this is the generated xml code after I have replaced every uax:
[code]

UaExpert displays the method node but the call does not work and there are no fields fo

[2015-08-19 15:40] ichrispa commented on #336
Hi @martina-felber,

try expanding the method node in ua expert. You should see an inputArguments and an outputArguments node. Make sure those two are actually arrays (they end with an index such as [0]).

The method being displayed by uaexpert is purely based on the namespace model (the XML file) and not on what methods you connect. If you have not connected a method, the call will always fail, b

[2015-08-19 16:57] Stasik0 commented on #336
@ichrispa wait, but "uax" references to a scheme hosted by opcfoundation (https://opcfoundation.org/UA/2008/02/Types.xsd). I think this is something that maps UA types to XML types? E.g. uax:Double is mapped to xs:double which is a basic XML type hmmmm.

[2015-08-19 17:18] tpiat opened #338 "Error by deleting client"
I'm sorry... but I have SIGSEGV at line 10284
function UA_Client_delete,
UA_UserTokenPolicy_deleteMembers(&client->token);

in new version. In version 1.0 this signal was happend without this string.
Probably, in this version (1.1.0) this function call no longer needed.
(tested under windows and under linux, signal SIGSEGV under Linux)

This line was added (issue #317) in version 1.0, but version

[2015-08-20 06:29] martina-felber commented on #336
Hi @ichrispa!
Many thanks for your help!
You are right, the definition of the Input|Output Arguments is wrong.
I tried to get the InputArguments working, but I failed.
The namespace index of the BrowseName is always 0, but the Arguments are Boolean Arrays[-1].
I set the data type to int32 but the datatype is always boolean.

My first try:
InputArgument is an Int32 scalar with ArrayDimension = 0.
!

[2015-08-20 06:38] Stasik0 commented on #338
@tpiat is there a way i can reproduce the error? checking out the 0.1.1 and running server and client i cannot get it

[2015-08-20 07:55] martina-felber commented on #332
hi florian!

thank you very much for your fix!
I am very sorry but it seems that I'm still misusing the addMethodNode function. May I ask for your help?

I wrote following code at the server:
[code]

the call in UaExpert looks better than before, the first InputArgument is the array with 5 indices, I can enter values, but the call fails.
![method_call_](https://cloud.githubusercontent.com/assets/1

[2015-08-20 08:04] tpiat commented on #338
void core_Logger(UA_LogLevel level, UA_LogCategory category, const char *msg, ...){}
struct OPCUA_Nodes { 	UA_Client *client; };
int main(int argc, char* argv[])
{
    // init
   mylibfun.init(argc, argv); // Any lib function, very big and memory contains new/delete calls.
    OPCUA_Nodes n;
    n.client = UA_Client_new(UA_ClientConfig_standard, core_Logger);
    UA_Client_delete(n.client);
    re

[2015-08-20 08:11] tpiat opened #339 "QNX version"
open62541.c works in QNX 6.5.0 after two changes:

file endian.h is absent in QNX
Instead
[code]

write
[code]

Also add next:

[code]
I add it after
`#include <arpa/inet.h>`

I.e.
[code]

[2015-08-20 08:50] Stasik0 commented on #338
tpiat: this is already fixed, but has not been updated in 0.1.1, could you try this one? http://open62541.org/releases/905d6c8be1.zip

[2015-08-20 08:52] Stasik0 commented on #339
@tpiat: great news, do you want us to integrate it, or could you fork the repositroy and propose pull-request to get on the list of contributors :) ?

[2015-08-20 08:57] tpiat commented on #339
It added very little to create a separate branch. And for everyone who doesn't works with QNX they are invisible. But I would like them to appear in the basic version, not to add one every time.

[2015-08-20 09:00] ichrispa commented on #336
Dear @martina-felber,

That is normal. My compiler adds the real valueRank used to the variable to the nodes and removes wildcards. Only types are permitted to use wildcard /negative valueranks (ie meaning "one dimension or less" or "any dimensions").

The problem appears to originate from the namespace compiler. Apparently it does not know how to encode a UA_Argument - which means that the Type d

[2015-08-20 09:07] tpiat commented on #338
Do not crashed.
Thank you!

[2015-08-20 09:10] FlorianPalm commented on #332
Hi Martina,
your code is completely fine. It should work now

[2015-08-20 09:16] HolgerJeromin commented on #339
We are able to integrate this into our code. But if you would fork the Repo and do a pull request it would also land into our code but your username would show up on:
https://github.com/acplt/open62541/graphs/contributors

[2015-08-20 09:17] Stasik0 commented on #339
@tpiat no i mean if you do a fork, add these changes and propose a pull-request back to us - you will be conserved as the contributor of these lines

[2015-08-20 09:18] Stasik0 commented on #338
@tpiat okay, you can access the last builds here: http://open62541.org/releases/ we will probably release a 0.1.2 after some more bugs have been fixed

[2015-08-20 09:18] #338 closed

[2015-08-20 09:54] martina-felber commented on #332
Thank you very much! It works now!
I didn't see that you changed the master branch 40 minutes ago, so I was still using the code from this morning!
Many thanks

@Stasik0
If you like I can add the examples to your wiki page. I try to make some examples with different methods (different input- and output argument sizes, arrays etc. )

[2015-08-20 10:35] Stasik0 commented on #332
@martina-felber you are welcome to, or maybe event better into "server_method.c" if it is not too big?

[2015-08-20 10:56] tpiat commented on #339
I'll be glad if this project will contain a couple of lines to support QNX. Who can add it?

[2015-08-20 11:32] ichrispa commented on #324
In theory, this is an error of uaexpert; Data Change notifications are never sent with a timestamp (so showing them is an error in itself). I can easily enable server timestamps; source timestamps are currently meaningless, as without an event system there is no possible way a sample in a queue can have any other timestamp then the servers timestamp.

[2015-08-20 12:01] Stasik0 commented on #339
You could do it if you do a fork.

[2015-08-20 12:03] tpiat commented on #339
If I don't make it, QNX will not appear?

[2015-08-20 12:40] Stasik0 commented on #339
No, I can do it aswell, but in this case you will not appear as contributor.

[2015-08-20 12:47] tpiat commented on #339
Make it, please.

[2015-08-20 12:53] StalderT commented on #324
Hello,

I have test with the patch https://github.com/acplt/open62541/commit/b7c997a9f923a1eebd36ed48e93ba205e78ebc16

The result are :

![capture_new2](https://cloud.githubusercontent.com/assets/13799456/9383598/b10d401a-474a-11e5-8394-47188dcce136.PNG)

The second variable is on a another OPC UA server (not open62541).

You can see that sourceTimestamp are updated to.

[2015-08-20 12:55] Stasik0 commented on #324
@ichrispa the pragmatic way would be to assume that source time=server time as its probably done in the other server

[2015-08-20 13:05] Stasik0 commented on #289
@btrepp any progress?

[2015-08-20 13:07] Stasik0 commented on #339
@tpiat the current master including QNX entries can be found here: http://open62541.org/releases/db4a39cbab.zip

[2015-08-20 14:17] jpfr commented on #337
Nodemanagement Service can not delete nodes yet
    Attributes Service only allows the value attribute to be written to

We probably won't achieve complete coverage of this for 0.2.
Creation of all node types requires that we handle object modelling rules, i.e. required and optional components and properties (which we don't consider so far).
The same applies to the deletion of objects and *type*-n

[2015-08-20 14:20] jpfr commented on #337
btw, I'm making progress in generalizing the async event processing loop so that it can be reused in the client. But that will not be ready before 0.2.

[2015-08-20 14:23] Stasik0 commented on #337
@jpfr imho *not* passing CTT this is not a blocker for a 0.2-review, :+1: for going for sphinx

[2015-08-20 15:11] jpfr commented on #337
Right. For 0.1 we passed the last test only days before the release.

But since we still get reports about memleaks, etc. We surely still have some bugs/edge cases that have not been found.
That's no critique! We all have caused our fair share of bugs.
So we know that truly **stable** code quality is best achieved by process/infrastructure/tool support.

Can we try to have at least *some* unit tes

[2015-08-21 05:48] martina-felber commented on #332
Hi!

I tried to add a method IncInt32Value and IncOrDecInt32Value (2 input and 2 output arguments).
But I have a memory leak problem with IncOrDecInt32Value.
I allocated an UA_Argument array for the input and output arguments. If I don't free it, I get memory leaks, but if I try to free it valgrind states invalid frees.
[code]

here is the complete server_method.c file (with the memory leak proble

[2015-08-21 07:26] Hexsc commented on #323
@Stasik0  @StalderT
I always used the latest release of the master branch and not that one you suggested,
assuming that it would work too.
The [c53521a] (https://github.com/acplt/open62541/commit/c53521a86cee2cb15fa20b5112a56346f1b4ce53) version works fine, thanks and sorry for getting on your nerves . :+1:

[2015-08-21 07:30] Stasik0 commented on #323
@Hexsc but the one is the master :) could you test master too... (sorry for nerving you now)

[2015-08-21 08:22] Hexsc commented on #323
@Stasik0 I don't really know, what you mean, [c53521a] (https://github.com/acplt/open62541/commit/c53521a86cee2cb15fa20b5112a56346f1b4ce53) is a previous version of the master branch, right?
And it's the only version on which I get no invalid reads.
All later versions are letting me despair, cause they don't work (respectively they work, but with invalid reads).
Some memory leaks are always presen

[2015-08-21 08:42] Stasik0 commented on #323
@Hexsc well this is something that i do not understand... c53521a was the commit that introduced the fix, but the respective lines are contained in all other versions (and in the current HEAD) e.g. https://github.com/acplt/open62541/blob/master/src/client/ua_client.c#L697 and https://github.com/acplt/open62541/blob/master/src/client/ua_client.c#L797

could you please state how exactly you produce

[2015-08-21 09:00] Hexsc commented on #323
I use:
[code]
and get:

==2692== Invalid read of size 4
==2692==    at 0x806366F: UA_Client_removeSubscription (open62541.c:11825)
==2692==    by 0x8049F2D: main (client.c:318)
==2692==  Address 0x42b3e20 is 56 bytes inside a block of size 64 free'd
==2692==    at 0x402B1DD: free (in /usr/lib/valgrind/vgpreload_memcheck-x86-linux.so)
==2692==    by 0x8063668: UA_Client_removeSubscription (open6254

[2015-08-21 09:11] Stasik0 commented on #323
can you please post the 3rd line of your open62541.c? mine is
[code]
which is the current head db4a39cbab

[2015-08-21 09:17] Hexsc commented on #323
It's:
[code]
I think you found the Problem. But what to do?

[2015-08-21 09:34] FlorianPalm commented on #332
Hi Martina,
it's quite confusing: UA_STRING("") just allocates memory on the stack, but for dynamic structures
you need to allocate memory on the heap. You could use this function for example:

[code]
Same goes for the localizedText field
[code]
Perhaps it would be good to add an entry into the wiki page for this issue

[2015-08-21 09:37] Stasik0 commented on #323
How did you get the files? Obviously you do not use git, didnt you? Try to get the latest master build from open62541.org/releases/

[2015-08-21 09:46] martina-felber commented on #336
Hi!
I tried to include the UA_Argument definition to the NodeSet.minimal, but there are many other references to many different nodes. I tried to include everything but it didn't work.

So I used the full nodeset and copied my method definition at the end of it, it compiles but the result in UaExpert is still the same, the method call fails with BadInternalError and the Input and OutputArguments a

[2015-08-21 09:48] Hexsc commented on #323
I downloaded the zip from https://github.com/acplt/open62541/tree/master,
created the makefiles with cmake and built the source files with:
[code]
(mingw is in the systempath)

[2015-08-21 09:52] Stasik0 commented on #323
Did you enable amalgamation in cmake? Why not using git clone? Git seems to be installed?

[2015-08-21 10:13] Hexsc commented on #323
Yes, I enabled amalgamation.
I'm not familiar with git, so I didn't use it.
Thought it would also work without it.
But from your statement I gather that I should? :)

[2015-08-21 10:13] martina-felber commented on #332
@FlorianPalm
May I ask you how you freed the inputArgumentArray?
I changed every name and description attribute and I am using UA_String_fromChars as you have suggested.
I have no invalid frees anymore, but memory leaks.

I tried:
[code]

and
[code]

and (this causes invalid frees)
[code]

Thank you very much!

[2015-08-21 10:50] FlorianPalm commented on #332
Hey,
this works for me fine:
[code]

[2015-08-21 11:17] Stasik0 commented on #323
well i am not sure, please try both:
* use these files: http://open62541.org/releases/db4a39cbab.zip
* try to checkout using git:
'''
git clone https://github.com/acplt/open62541.git
'''
then verify you have " * Git-Revision: v0.1.0-RC4-408-gdb4a39c". And try to get the error.

[2015-08-21 11:25] martina-felber commented on #332
thank you very much!

[2015-08-21 12:17] ichrispa commented on #336
Hi martina,

there is an example by @Stasik0  in the hl-branch on how to compile your own nodeset along with namespace 0. You do not need to copy anything, just remove the uax: from the XML and take a look at the cmake parameters.

If you don't mind, you can paste your xml on pastebin or something similar and I'll have a look.

Best regards,

ichrispa

[2015-08-21 12:32] tpiat opened #340 "Memory leak connect/new client"
I use db4a39c version form  #339
ClientNetworkLayerTCP_connect creates connection->handle
ClientNetworkLayerClose must to free it, but if server closed (external server, I write a client), connection.handle is not free, but next ClientNetworkLayerTCP_connect creates new handle.

Probably, this bug is known and fixed. How I can download latest version of open62541.c and open62541.h files?

[2015-08-21 12:39] Stasik0 commented on #340
Latest distributions are here: http://open62541.org/releases/

[2015-08-21 14:51] Stasik0 commented on #340
@tpiat yes, you are using the latest version, could you try to fix it?

[2015-08-21 16:51] tpiat commented on #340
I'm using latest verion.
I dont't know, how receive event "connection lost".

I inserted variable z, change all free to UA_free, malloc to UA_malloc & etc.
After each cycle <b>server; kill server</b> variable z increaces by one and UA_malloc calls two timesmore than UA_free.

[code]
I think that new connection created, but old one don't deleted.

It is all my results.

[2015-08-21 17:59] ichrispa commented on #324
fixed in hl branch

[2015-08-21 17:59] #324 closed

[2015-08-22 10:33] mustafacamurli opened #341 "Build in Cygwin environment"
Hello all,

I try to build the project on Cygwin.

I have done exact same things which are written in /doc/building.rst file.

mkdir build
cd build
cmake ..

I couldn't get any makefile out of it.

[2015-08-22 10:41] Stasik0 commented on #341
What error message do you see? Is cmake installed?

[2015-08-22 12:33] mustafacamurli commented on #341
I was missing couple of background errors. I got my makefile create right now.

Now, I'm dealing with this error:

[ 89%] Building C object CMakeFiles/open62541-object.dir/examples/networklayer_tcp.c.o
In file included from /home/Mustafa/devel/open62541/examples/networklayer_tcp.c:21:0:
/usr/include/netinet/tcp.h:53:2: error: unknown type name ‘u_short’
  u_short th_sport;               /* source

[2015-08-22 18:28] Stasik0 commented on #341
From what I read here https://www.cygwin.com/ml/cygwin/2001-07/msg00705.html, you may try to include ```#include <sys/types.h>``` right before ```#include <netinet/tcp.h>```. Just being curious: is there any particular reason to use cygwin?

[2015-08-24 05:48] tpiat commented on #340
[code]

Minimal sample with memory leak,
9226ecb4fd version.

If server do not run. memory leak present.
Windows 7, Qt, gcc.

[2015-08-24 06:13] Stasik0 commented on #340
@tpiat oh no, i have forgotten a line for windows :( commit comes in a second

[2015-08-24 06:20] Stasik0 commented on #339
@tpiat did you get it working? can we close this one?

[2015-08-24 06:28] martina-felber commented on #332
good morning @FlorianPalm !
Many thanks for your help. I'm very sorry to bother you again but I always have memory leaks and I don't understand why.

I copied your code and it works fine and I think that mine is nearly the same, except I'm using different data types, but I get a memory leak every time I call UA_String_fromChars(). But at your code it works. I don't get it.

This is my main, at fir

[2015-08-24 06:31] ichrispa commented on #337
@Stasik0: The tutorials are currently in the sphinx syntax, though they are not very elaborate in terms of sphinx capabilities.

The HL-Branch does have support for writing any node attribute now. I will work on deleting nodes next.

I am having a problem with user generated namespaces, which I will post in another issue.

[2015-08-24 06:45] tpiat commented on #340
Server -> Kill server -> server -> kill server
give memory leak with newest verion.

[2015-08-24 06:55] tpiat commented on #339
Version db4a39cbab works,
Version 24565aa4bf works too.
Thanks!!!

[2015-08-24 07:03] #339 closed

[2015-08-24 07:04] Stasik0 commented on #337
@ichrispa did we lose this capability? I did not notice it :/

[2015-08-24 07:11] Stasik0 commented on #340
But the one error is gone?

I cannot reproduce this server, kill server sequence here on linux.... what exactly is happening? To you have the same problem with the value of "z"? Can you step-through with a debugger to see what exactly is happening in the network layer e.g. where does the error come from??

[2015-08-24 07:27] martina-felber commented on #336
Good morning!

Many thanks for your help!
I use the master branch from 17. August. I don't want to use the high level branch, so I tried to copy the generated XML from UaExpert to Nodeset.minimal (and the full nodeset) and compile it with cmake. But if methods doesn't work this way it's no problem. I'm very happy with object types and variables, I just wanted to try methods too.

I created a simpl

[2015-08-24 07:41] tpiat commented on #340
z increased by two after ecah "server; kill server"
Version 24565aa4bf

[2015-08-24 09:27] ichrispa commented on #336
Hi @martina-felber,

the master branch cannot encode the extensionObjects necessary to store UA_Arguments (inputArguments/outputArguments). Unless you use the hl-abstractions branch, you cannot create functions from XML definitions this way. If you do not want to use the hl-abstractions branch, you must use UA_Server_addMethodNode().

The graph of UA Namespace 0 Nodes is very shallow - following t

[2015-08-24 10:02] martina-felber commented on #336
Hello!

Thank you very much for your help!

I'm sorry but what do you mean with:

I am not using methods anymore but I have another problem with the generated namespace. Valgrind states more than 100 invalid read errors and after server clean up a lot of memory leaks.

I used the Opc.Ua.NodeSet2.Minimal.xml I stated in my previous post. Each generated node from UaModeler creates a lot of invalid r

[2015-08-24 10:35] FlorianPalm commented on #332
Hi Martina,
some of the array indices seem to be not correct:
[code]
(0 and 1 are mixed). I am not sure if this fixes all the leaks. I will have some time to debug it later.
best regards
Florian

[2015-08-24 10:47] Stasik0 commented on #340
@tpiat try the new one please, works here

[2015-08-24 11:12] tpiat commented on #340
It works.

[2015-08-24 11:18] martina-felber commented on #332
Many thanks for your answer!
I guess the indices were the problem, I typed everything new and now it works!
Thank you very much!

[2015-08-24 13:08] #332 closed

[2015-08-24 14:10] #340 closed

[2015-08-24 14:18] #303 closed

[2015-08-25 10:40] Stasik0 commented on #341
@mustafacamurli did it work?

[2015-08-25 11:56] martina-felber opened #342 "subscriptions: client crashes after calling doPublish() multiple times"
Hello!

I tried to create a subscription as in your example client implementation for "the answer". At the server I added a node "int32" and the client subscribes to it. I set the publishInterval to 0 as in your example.
I thought that the client could send many PublishRequests to the server and the server queues them. If the server detects a change, it generates a notification and after the Publi

[2015-08-25 17:40] ichrispa commented on #341
@mustafacamurli : You can always attempt to switch to mingw, which is working with open62541,

[2015-08-25 17:43] ichrispa commented on #336
ua_namespace_init is a one pass function. It may well be that some variable contents are not deallocated after creating them, but the effects on the running server are neglible - in particular, these leaks are not cumulative.

I don't know where the read errors in the nodestore come from, but I could assume that these are slot- or hash-reads that result in a "not in the nodestore" assertion. The n

[2015-08-25 17:48] tpiat opened #343 "Incorret data read"
I received but can not consistently reproduce the bug.
When I read from server incorrect data, the program crashes. (The server of open62451 do not give similar error)
Received data has incorrect dst->length (as I think), next I sometime receive SIGSEGV.
For example, dst->length = 8001096 in function UA_encodeBinary.

Is data integrity checks?

[2015-08-25 18:04] jpfr commented on #343
Hey @tpiat,

In order to help you, we will either need

- a stack trace from a debugger
- a dump of the network traffic, where the bug occurs. This can be obtained e.g. with wireshark

[2015-08-25 18:48] Stasik0 commented on #336
the access errors do not appear in the "origin/api_hl_abstractions" branch, @martina-felber would you please give it a try? Just checkout and use your XML file for namespace generation. It it works - i'd consider it fixed since a merge will *hopefully* not break it

[2015-08-25 18:49] Stasik0 commented on #336
@ichrispa offtopic: can we add "<uax:Double>4711</uax:Double>" replacing "uax" to the python script in order to make it work?

[2015-08-25 19:13] tpiat commented on #343
I'll try to get dump tomorrow. But this is very rary error, and I dump will be very big or I must select
a tail of sequence.
Probably, it is best to insert a record of traffic to program?

IMHO, Stack is destroyed, because any function call after this error crashes application.

[2015-08-25 19:50] Stasik0 commented on #343
@tpiat: wireshark can get localhost traffic in linux, get a VM e.g. with ubuntu. Please also let the client run in a debugget to get the begtrace.
Did I understood witght, that only the client is the problem, right? Server has a far more protected stack, while client is not protected, yet (https://github.com/acplt/open62541/blob/master/src/client/ua_client.c#L269).

[2015-08-25 19:59] tpiat commented on #343
I write a client. Client works with open62541 server without any problems. This problem rarely occur with Simatic server (by Siemens)
I never know about server part of open62541.

[2015-08-25 20:03] Stasik0 commented on #343
please get us a dump, we will need to to harden ua_client.c a bit to check for field lengths

[2015-08-25 20:49] ichrispa commented on #343
@tpiat: Please post instructions to reproduce your error (code), including error logs and a backtrace.

You can insert a Loopback adapter on microsoft windows over the add devices system control panel which is capturable with wireshark.

This may just as well be an unitialized or wrongly copied struct/pointer that you are passing to the stack. Please post the code that can reproduce this problem.

[2015-08-25 21:22] ichrispa commented on #342
Hello @martina-felber,

of course you can call doPublish as many times as you want to and naturally the client should not be crashing.

In general terms you are correct. However the server may also reply with empty responses or keepalives. Note that the part of code you quoted tracks acknowledgements for received notifications  on the client side and not the publish requests.

I have tried the fol

[2015-08-25 21:59] ichrispa opened #344 "encodeBinary consults UA_TYPES by default, even if typeIndex is in another types array"
I am still trying to get the namespace compiler completely userspace compatible. After removing most of the problematic functions an placing addMonoDirectionalReference into userspace, this is what remains:

[code]

The free's are not a problem, the rest is. The encodeBinaries are used to create ExtensionObjects, which basically boiles down to encoding variable contents that cannot be represented

[2015-08-25 22:01] jpfr opened #345 "Node deletion"
@ichrispa
You wrote the service for node deletion in the hl abstraction branch. That's looking good in general.
In addition to the existing code, we should think about necessary conditions for deletion and intermediate states of the information model.
- Nodes can only be deleted if there are no hierarchical references downwards from them. This rule is not written in a the standard. But it seems to

[2015-08-25 22:03] ichrispa commented on #337
@Stasik0: See #344 for the actual problem. We still have the capability to encode any userspace stuff when the stack gets generated, but I want users to have their own dataTypes and be able to load their namespace using init_my_namespace(server) from userspace. We are not there yet.

[2015-08-25 22:31] ichrispa commented on #345
hey @jpfr,

yes, I agree on both counts. I would however plead for not having any nodestore userspace functions changing semantics or structure.

I found a comment at some point that questioned if hierachical deletions are an acceptable solution. Should something like that even be considered?

Best regads,

ichrispa

[2015-08-26 06:23] martina-felber commented on #342
Hi @ichrispa !

Thank you very much for your help. I'm sorry that I cause you so much effort.
Here is the complete code I am using (I had to split the open62541.c file)

[open62541.h](http://pastebin.com/yPEVS3c4)
[open62541.c part 1](http://pastebin.com/HybbKWTT)
[open62541.c part 2](http://pastebin.com/b8XeuSv8)
[server.c](http://pastebin.com/iS5XTuLr)
[client.c](http://pastebin.com/7Lke9HKk)

I

[2015-08-26 06:42] tpiat commented on #343
The code the same as #340
[code]

[2015-08-26 06:44] tpiat commented on #343
Stack:
[code]
And also 13 records with system dll or ??

[2015-08-26 06:49] Stasik0 commented on #343
and you are using master HEAD amalgamated file? (i try to reconstruct the function names from the line numbers)

[2015-08-26 06:54] tpiat commented on #343
[code]

[2015-08-26 06:56] Stasik0 commented on #343
what is this now?

[2015-08-26 07:01] tpiat commented on #343
This is new crash dump of stack whis functions and lines,

[2015-08-26 07:16] Stasik0 commented on #343
and the first one is not relevant?

[2015-08-26 07:19] Stasik0 opened #346 "Method call context"
Hi guys,

currently the implemented method gets a nodeId besides the arguments. I think we may need some more information e.g. the information from the session like clientURI, or the time of the call.

Does it make sense to add another parameter like a "context". The problem is that I am not yet sure about all the context we need. So we need to make this "context" extendible somehow. Maybe a list

[2015-08-26 07:26] tpiat commented on #343
First dump was make with another file.

[2015-08-26 07:32] Stasik0 commented on #343
my line number do not match :( could you post your open62541.c to pastebin?

[2015-08-26 07:44] tpiat commented on #343
Last received, Len=65

4D 53 47 46 41 00 00 00 71 47 02 00 01 00 00 00
C7 93 01 00 95 93 01 00 01 00 7A 02 3E 0C ED BB
D2 DF D0 01 00 00 00 00 00 00 00 00 00 00 00 00
00 00 00 00 01 00 00 00 02 00 00 35 80 00 00 00
00

[2015-08-26 07:46] tpiat commented on #343
How I must send it?

[2015-08-26 08:19] martina-felber commented on #336
Hello!

Many thanks for your help!

@ichrispa I thought that my last question fits to the issue title, because I still tried to use UaModeler with cmake, generating the namespace 0 with the nodes from the UaModeler XML file. Which title would you suggest to open a new issue?

@Stasik0 I tried to use the high level branch, with your example server_nodeset.xml but I am not able to compile it.
I chec

[2015-08-26 08:27] Stasik0 commented on #336
@martina-felber the link does not work, for the time being just disable BUILD_EXAMPLES, and go for GENERATE_NAMESPACE

[2015-08-26 08:43] martina-felber commented on #336
hello!
sorry for the link, now it should work [make output](http://pastebin.com/btJ9cppu)

I tried to compile with ENABLE_AMALGAMATION and ENABLE_EXTERNAL_NAMESPACES but the build failed with a different error.
[make output](http://pastebin.com/Q0B22gPb)
(the name of the file is wrong -> ENABLE_EXTERNAL_NAMESPACES)

if I compile with ENABLE_EXTERNAL_NAMESPACES only it fails too.
[make output](http

[2015-08-26 08:48] ichrispa commented on #346
The hl-branch has the ability to pass an arbitrary handle to method calls; you can pass any kind of struct through that.

In my experience there is no use in hardcoding this; every application I wrote so far needed different parameters. I think it's best to leave the handles content to the user.

[2015-08-26 09:12] jpfr commented on #346
I agree with @ichrispa.

Maybe, once we have a "pluggable" user login and rights management (like the pluggable network layer), we can add a void pointer to a session context that comes from user space...

We can expect the user-space method to understand the user-space context. Giving access to the session itself is a bit too much, imho.

[2015-08-26 09:22] ichrispa commented on #346
Pushed/Backported the handle in methods from my application; sry, I though I had already done this ages ago...

See 198597c520e51d1e69ccbad6c8daf4d9bb5a1fab

[2015-08-26 09:30] Stasik0 commented on #346
@ichrispa @jpfr yea but i still do not see how I should access some stuff that is in the session e.g. *client identity*. The problem is that "session" is defined to be "application context" which imho is the userland part of the application.

I do not claim to provide the whole session to the method callback, but please tell me how I should get the client URI from a method (without workarounding i

[2015-08-26 10:49] jpfr commented on #346
@stasik0

You are right that we should add another parameter to the method callback: user-defined data that is attached to the session.

We can forward the entire UA_CreateSessionRequest to the userland rights mgmt plug. Then, the client uri can be grabbed trivially.

[2015-08-26 10:55] ichrispa commented on #346
@Stasik0: Imho tracking connected clients would be part of the userspace application. A client can call a register function and be either mapped to the object nodeset or an internal struct/list. That can then be passed as a parameter. At least that is how I did that.

Is there anything in the spec that a methodCall needs to be limited to a session context? I cannot recall reading anything beyond t

[2015-08-26 11:48] FlorianPalm commented on #346
@ichrispa what do you mean with limited? The spec says that most of the services need to have an established session before they can be used, (all not stack related services). An authentication Token is passed in every request within the requestHeader.
Within Service_Call we have full access to the session. But as the user should not edit this function, imho we should pass something down to the ac

[2015-08-26 16:02] ichrispa commented on #346
With limited I meant if a method must be executed in the context of a session. If the spec suggests for example that a method must distinguish between the session type or the clients security mechanism and say "shall return false if XY is not met". But as far as I understood (and I may be wrong here) the method being called only gets the arguments and the node (as in a OO paradigm), it does not kn

[2015-08-27 09:20] jpfr commented on #344
Hey @ichrispa,

the generic type handling functions were written with your use case in mind. The members are tagged with a boolean to be either in UA_TYPES **or** in the same array as the father type. In the latter case, the type description is found by taking a simple offset from the father type.

Sent from my iPhone

[2015-08-27 13:06] tpiat opened #348 "Memory leak connect/new client or SIGSEGV"
I have next code
If I use
			UA_Client_disconnect(node.client);
			UA_Client_delete(node.client);
I receive SIGSEGV, if I'll comment <B>UA_Client_disconnect(node.client);</B>, I'll get memory leak.

Even if I don't use UA_Client_delete/UA_Client_new, I get memory leak.

Windows 7, GCC.

Probably I wrote incorrect program.
Code is below.

[code]

[2015-08-27 14:23] Stasik0 commented on #348
the latest commit seems to work with this code:
[code]
you always have to call disconnect before calling connect or there is a memleak. new and delete have to be called only once in the livecycle of a client instance.

[2015-08-27 14:23] #343 closed

[2015-08-27 15:08] tpiat commented on #348
I.e I can't delete and create cient?
(In this case will be SIGSEGV)
Why?

[2015-08-27 15:16] tpiat commented on #348
void UA_String_deleteMembers(UA_String *p) {
    <B>if(!p)return;</B>
    UA_free(p->data);
    p->data = UA_NULL;
}

[2015-08-27 16:13] jpfr commented on #348
Currently, we assume that the user does not call functions with null pointers, if this is not explicitly permitted.

If we include this line, we have to include it in a 1000 other places as well for consistency.

Imho we should leave the function as it is. The calling context needs to react to the missing string anyway. That's normally due to an memory allocation problem.

[2015-08-27 16:22] tpiat commented on #348
I'm afraid null pointer is possible.
[code]
This sequence calls UA_String_deleteMembers with NULL pointer.

I understand that it call is result of another error.
In any case, thank you for your attention and reply

[2015-08-27 16:54] Stasik0 commented on #348
@tpiat can you tell me where the problem occurs? is it UA_String_deleteMembers(&client->endpointUrl);? A stacktrace with function names would be helpful. Or how can i reproduce the error?

[2015-08-27 17:04] Stasik0 commented on #348
@tpiat i can not reproduce it with http://open62541.org/releases/be91c9dea2.zip

[2015-08-27 17:24] Stasik0 opened #350 "Borked UA_Client lifecycle"
Hi,

The lifecycle of the client is borked as shown by problems by @tpiat e.g. #348

Normal client lifecycle is:
**LS 1**
* new
* connect
* *couple of reads*
* disconnect
* delete

new allocates only memory for the struct and does the init job

connect allocates memory
* by calling a callback in the networklayer e.g. buffer - always
* allocates some memory in case of successful connection e.g. aut

[2015-08-27 17:35] Stasik0 commented on #348
@tpiat we need to go through all possible use-cases, follow #350

[2015-08-27 18:24] Stasik0 commented on #350
I'd propose the following

**(WI1)** _init and _deleteMembers functions for UA_client so it can reside on stack

Rule 1: **You have to call _disconnect if _connect returned success**
=> Implication 1 **(WI2)** _connect has to clean up in case it fails internally e.g. if the server is down
=> Consistent with **LS 1**

Rule 2: **_disconnect reverts the changes of _connect e.g. _disconnect = _deleteM

[2015-08-27 20:13] ichrispa commented on #344
Perfect. So I only need to set the ``.namespaceZero = UA_TRUE`` to FALSE and it should work :) Thank you @jpfr

[2015-08-27 20:13] #344 closed

[2015-08-28 06:52] tpiat commented on #350
My sample code (localget, #348)

[code]
With disconnect or without it disconnect,
with Detete/new pair or witout it
-- memory leak if server down.

versions 1cfd71af28 or b0e4f46304

[2015-08-28 07:05] tpiat commented on #350
If it's intresting:

I added few log lines, and I see, where occur memory alloc or free
[code]

[2015-08-28 07:59] Stasik0 commented on #348
by @tpiat

My sample code (localget, #348)

[code]
With disconnect or without it disconnect,
with Detete/new pair or witout it
-- memory leak if server down.

versions 1cfd71af28 or b0e4f46304
For version 1cfd71af28:

allocated memory in line 2257 and nerver freed,
allocated memory in line 14556 and nerver freed.

[2015-08-28 08:06] Stasik0 commented on #350
@tpiat sorry for deleting your message, i will transfer it back to #348

following idea, i have add ```client->status``` we get the following graph

![client_life](https://cloud.githubusercontent.com/assets/469170/9541830/1f23ca8e-4d6c-11e5-9e14-dc619fdbc101.png)

In the new branch https://github.com/acplt/open62541/compare/client_lifecycle I tried to implement it.

I also implemented some "fool-s

[2015-08-28 08:14] Stasik0 commented on #348
@tpiat, please write function names, please use pastebin.com

please feel free to test http://open62541.org/releases/0b8d8d566e.zip probably it should also work for your code.

[2015-08-28 08:38] akshirasagar opened #351 "No endpoints found even though frame received correctly - intermittent UA_STATUS_BADDECODING_ERROR"
I am trying to communicate with a PLC from a Linux system using open62541. With an executable built from the client.c file (only changing the endpoint URL) in the examples folder, I receive the following error: No suitable endpoint found. However Wireshark shows that a frame with the complete endpoint information was received. On debugging, the status code received  was found to be UA_STATUSCODE_B

[2015-08-28 08:56] tpiat commented on #348
No memory leaks in short time

[2015-08-28 10:56] Stasik0 commented on #348
so, can we close it?

[2015-08-28 10:58] Stasik0 commented on #351
* which version are you using
* could you please show us the wireshark dump?
* could you please tell us from which function the UA_STATUSCODE_BADDECODINGERROR is returned
* which PLC do you use? how can we reproduce it?

[2015-08-28 11:19] akshirasagar commented on #351
Hello,

Version : 0.1.1

UA_STATUSCODE_BADDECODINGERROR is observed in the synchronousRequest() function within EndpointsHandshake().

For reproducing this error you can download the OPC UA ANSI C Demo Server available at https://www.unified-automation.com/downloads/opc-ua-servers.html. If you are unable to download, please provide me a path where I can upload the exe file and also wireshark trace

[2015-08-28 11:47] Stasik0 commented on #351
@akshirasagar it seems that the connect is working in the current master, do you need 0.1.1 i.e. do we need to look for a change and backport it (Florian tries go give it a quick look).

[2015-08-28 11:54] akshirasagar commented on #351
@Stasik0 The error does not always occur. At some points the output I get is:
inkshias@inkshias-VirtualBox:~/acplt-open62541-776266e/examples$ ./client
retval getbuffer = 00000000
retval releasebuffer = 00000000
retval secure conversion message header = 80070000
retval symmetric algo security header = 80070000
retval sequence header = 80070000
80070000
endpointsSize = ffffffff
No suitable endpoint

[2015-08-28 12:02] Stasik0 commented on #351
is it the master now? or still 0.1.1?

[2015-08-28 12:21] akshirasagar commented on #351
Yes, this error is for both master and 0.1.1.

[2015-08-28 12:26] FlorianPalm commented on #351
@

[2015-08-28 12:39] Stasik0 commented on #351
@akshirasagar i also tested it with 1.5.1 UaDemoServer. Client runs on linux, server runs on a windows ps. I changed the ip and the port in client.c and started
```while true; do ./client; done | grep "end"```
no error for about 20 minutes

[2015-08-28 12:42] akshirasagar commented on #351
Is this tested with localhost or some other IP?

[2015-08-28 13:23] ngoossens commented on #319
Hi Guys,

Following on from the work @schumajs did I have submitted pull request https://github.com/acplt/open62541/pull/353. This get all targets building on OS X and all unit tests pass too.

If this gets merged I am happy to set up travis to do an OS X compile.

Regarding the [build instructions](https://github.com/acplt/open62541/wiki/Building%20open62541), on OSX Yosemite with Xcode and [Home

[2015-08-28 13:30] Stasik0 commented on #319
@ngoossens nice one! Great job! I left you some comments in PR. Do you have some experience in getting it running on Travis CI OSX stack?

[2015-08-28 13:35] akshirasagar commented on #351
Yes, I am able to do this using the master now. Any reason why this fails in 0.1.1 though?

[2015-08-28 13:41] Stasik0 commented on #351
@akshirasagar i would think it is some TCP fragentation-reassambling issue (I am not more sure if it is built into 0.1 line or not). We are not able to find and fix the error on the quick. Do you have any specific problems while using master? Master will probably become a new stable 0.2 version towards the end of the year.

[2015-08-28 14:12] ngoossens opened #354 "EXTENSION_STATELESS build broken"
When enabling the EXTENSION_STATELESS build flag the build failed due to an unknown variable on line [#415](https://github.com/acplt/open62541/blob/master/src/server/ua_services_attribute.c#L415) in `src/server/ua_services_attribute.c`. Any idea what should be here?

[2015-08-28 14:15] ngoossens commented on #319
Thanks @Stasik0, happy to help out. No experience with the OS X stack in Travis CI but I am always happy to learn new things!

[2015-08-28 14:38] ngoossens commented on #354
@Stasik0, ok great will make the change. @jpfr has asked that I break up the PR so will re-submit on Monday with this included.

[2015-08-28 16:17] ichrispa commented on #337
@Stasik0: I have completed the Attributes writing issue; but we do now have addInstanceOf(), user namespaces and several other functions in the hl-branch. There are also numerous bugfixes, fixed the unit tests and 4 new tutorials.

I would suggest deferring the creation of all node types from the client side as well as node deletion (additional requirements requested in #345) in favor for merging

[2015-08-28 16:38] Stasik0 commented on #337
+1 for merging asap to stabilize it a bit before the workshop

[2015-08-28 17:33] jpfr commented on #337
+1 for thin-slicing feature branches. so we don't need to review the many improvements together with the hl abstraction
+1 for getting the changes into the eventually-to-be 0.2 branch.

But dunno if this should be master.

Many endusers take master for their development instead of a release (and we currently encourage that). The question is how we see the role of master.

- master -> currently bes

[2015-08-28 17:43] Stasik0 commented on #337
@jpfr: but integrate current api brach into master should be done before event, right?

[2015-08-28 17:45] Stasik0 commented on #337
Cuz currently i see master=close to next release i.e. Users should take it.

After the release it could get more instable und should not be used by users by default...

[2015-08-28 17:48] Stasik0 commented on #337
Because currently i see master to be very close to next 0.2 and very far from 0.1, so it should be tested by end-users and be stabilized (banan ripe approach).

After the release, master may get instable again, so i'd discourage isers to take it (dev code approach).

So it actually depends on the current state of the release cycle, imho.

[2015-08-29 10:00] ichrispa commented on #337
@jpfr: I created the hl-api because out of expirience the current master branch is very hard to use; users who really use the stack in their applications will eventually end up building similar features into the stack.

[2015-08-29 14:39] jpfr commented on #337
Jup. Your branch should be merged as soon as possible.
I was making a more general point about how we use the master branch in the future.

In any case, it is advantageous to regularly merge master into dev branches. That makes the evventual PR review+merge much easier, as the branches do not diverge so much.

[2015-08-29 14:49] #350 closed

[2015-08-30 16:39] billran opened #355 "Memory allocation error when reading a matrix of byte strings"
I am using the Eclipse CDT GNU 32-bit tool chain on Windows 7 Pro and Open62541 release 0.1.1.

Reading the Unified Automation's demo UA server node for a matrix of byte strings throws a memory allocation error when the read response is deleted, and the program subsequently crashes.

Here is the read request code with the debugger stopped on the member deletion code on line 317:
![image](https://c

[2015-08-31 06:39] jpfr commented on #355
Hello @billran,

Does the same problem occur when you compile with the current master?

I guess we can copy/paste the current types.h + binary encoding into the 0.1 branch. It improved quite a bit, is heavily unit tested and the interface has not changed.

[2015-08-31 06:55] #348 closed

[2015-08-31 06:55] Stasik0 commented on #341
@mustafacamurli ping?

[2015-08-31 07:28] tpiat opened #356 "Matrix read SIGSEGV"
I want to read matrix from server.

I dont know what data i have read, and I receive SISEGV. What is it?
Array of array or something else?

And I see null pointer in resp.result.value.arrayDimension. But I was expected real pointed, and values 3 and 3. arrayDimensionSize is equal 2, that is correct.

[2015-08-31 07:46] mustafacamurli commented on #341
Adding netinet/tcp.h does not solve the problem. I guess  i have problem
with my cygwin version and etc.
I have not found a time to try it with mingw, I will update you as soon as
I try.

the reason of my interest is that im working a pirvate opcua server-client
project in an industrial automation company.
I'm looking for a chance to contribute if i can.
Nowadays strict deadlines matters :)

Thank

[2015-08-31 07:52] FlorianPalm commented on #356
Could you please show the relevant part of your code?

[2015-08-31 07:53] tpiat commented on #356
[code]

[2015-08-31 07:55] FlorianPalm commented on #356
That did not really enlighten me... perhaps the part where you fill up node.rReq?

[2015-08-31 07:57] tpiat commented on #356
I wrote full the code in #348.
I see values in debugger.

[2015-08-31 08:00] Stasik0 commented on #356
we may also have a bug, since there is #355 :/

[2015-08-31 08:45] tpiat commented on #356
I can't read not only string,

[2015-08-31 10:18] ichrispa commented on #337
master merged in hl-abstractioin in 38f8641.

[2015-08-31 10:59] tpiat commented on #356
Tested. Works in short time.

[2015-08-31 14:20] #356 closed

[2015-08-31 14:32] FlorianPalm commented on #355
Hi @

[2015-08-31 16:02] billran commented on #355
Yes, this version fixes the problem!

[2015-09-01 06:32] #355 closed

[2015-09-01 06:32] #351 closed

[2015-09-01 06:45] Stasik0 commented on #319
fixed in #357
@ngoossens, feel free to edit the wiki build instructions page

[2015-09-01 09:04] HolgerJeromin commented on #319
Thanks for your contribution!

[2015-09-01 09:04] #319 closed

[2015-09-01 09:23] jpfr opened #362 "Re-review client part of hl_abstractions branch"
Hey all,

thank you @ichrispa for your hard work on the xml namespace import and the API improvements.

I was a bit surprised to see the PR go through so fast.
Normally, the big PRs improve a lot during code review and should be allowed this opportunity.
Also, the PR could have been split into distinct functionalities that are easier to review.

@ichrispa If it is okay with you, I'd keep the xml g

[2015-09-01 09:52] ichrispa commented on #362
Hi @jpfr,

I was a bit suprised to seeing the hl-api having been merged in with master this morning too. So reverting the change to separate branches is ok with me.

I just fixed many of the 34 coverity bugs and I am hunting down several more; I am fixing them in my local version of the hl-branch as well; if you want to, I can push that branch back up to origin and you can revert master.

The non-

[2015-09-01 11:56] tpiat opened #366 "Mini-BUG: SIGSEGV in second call of UA_Client_disconnect"
I write clinet.

If server crashes, function socket_write calls UA_Client_disconnect,
among others in the function ClientNetworkLayerClose presents line connection->handle = NULL;
If I call UA_Client_disconnect. program crashes.

There are two way: check connection->handle before call of UA_Client_disconnect or check connection->handle in the function ClientNetworkLayerClose.

But I can't get stat

[2015-09-01 12:03] tpiat commented on #366
0	UA_String_deleteMembers	open62541.c	2070	0x406280
1	UA_String_delete	open62541.c	2063	0x406235
2	ClientNetworkLayerClose	open62541.c	13860	0x421678
3	UA_SecureChannel_deleteMembersCleanup	open62541.c	5723	0x40bef0
4	UA_Client_deleteMembers	open62541.c	12253	0x41dff3
5	UA_Client_reset	open62541.c	12223	0x41dee0
6	UA_Client_disconnect	open62541.c	12748	0x41f7b8
7	localget	main.cpp	796	0x4042d0
8	m

[2015-09-01 12:08] Stasik0 commented on #366
it is interesting, since disconnect should not crash when closed twice, what is the code you are running? (http://pastebin.com/).. you get a crash when you close the server, right?

[2015-09-01 12:11] tpiat commented on #366
[code]
Full code do not ready yet. File contains many additional data.

[2015-09-01 12:17] Stasik0 commented on #366
@tpiat and where is the second disconnect? can i just duplicate the line to reproduce it?

[2015-09-01 12:18] tpiat commented on #366
First disconnect in socket_write.
Second disconnect -- in localget.

[2015-09-01 12:48] Stasik0 commented on #366
[code]
this breaks as well, right?

[2015-09-01 12:50] tpiat commented on #366
Without two UA_Client_disconnect(node.client);   breaks.
If disconnected in socket write, first (and only) UA_Client_disconnect crashes the program.

[2015-09-01 13:09] tpiat commented on #366
http://pastebin.com/g2qNZKUz

[2015-09-01 13:29] joyhope commented on #341
In cygwin environment, disable the problem head file, and then everything is OK.

 //# include <netinet/tcp.h>

[2015-09-01 14:09] Stasik0 commented on #341
@joyhope @mustafacamurli is it it?

[2015-09-01 14:28] Stasik0 commented on #366
@tpiat i cannot reproduce it with 5d085a7595c1d4e59019cc786727ccdd60b0e8fb

[2015-09-01 15:05] Stasik0 commented on #366
@tpiat i pushed checking the handle in ClientNetworkLayerClose, so it may help even if i cannot reproduce it

[2015-09-01 15:40] Stasik0 commented on #341
can you start it?

[2015-09-01 17:53] ichrispa commented on #342
Hi @martina-felber,

I'm a bit swamped right now and don't have a lot of time to tend to issues; I haven't forgotten this ticket though.

Regards,

ichrispa

[2015-09-01 19:16] mustafacamurli commented on #341
it worked. Thanks.

[2015-09-01 19:44] tpiat commented on #366
Server ->Kill server couple times.
But probably it happens only in Windows.

Tomorrow I'll test new release.

[2015-09-01 20:55] ichrispa commented on #304
fixed in 4493355fb978d768ccb7d024e56bec3d55c71716

[2015-09-02 06:37] tpiat commented on #366
works in short time.
Tested 7881893f4a and 86d8f08b2b
Now testing more detailedю

[2015-09-02 10:05] #341 closed

[2015-09-02 12:00] #366 closed

[2015-09-02 12:50] Stasik0 opened #370 "Subscriptions: Republish service is missing"
Just tested our server with Softing OPC UA Client, it tries to invoke Republish service which is not implemented.

[2015-09-02 14:00] ichrispa commented on #370
Republish returns not implemented; the client should handle that. If it doesn't, we should create a ticket for the softing client dev team.

[2015-09-02 14:48] Stasik0 commented on #370
probably another way would be just to implement it, we have to live with some compatibility issues e.g. https://github.com/acplt/open62541/commit/af628ae9af76177b8c517eb28f229999b097576f

[2015-09-02 15:42] HolgerJeromin opened #371 "add static code analysis on travis"
For someone with free time. :-)

The `.travis.yaml` should probably cleaned up anyway...
For reference this blog entry could be helpful
https://legalizeadulthood.wordpress.com/2014/12/07/adding-static-analysis-to-your-c-github-repository/

[2015-09-02 16:36] tpiat opened #372 "UA_free count more then UA_malloc counter"
I'm inserted code for check free and malloc
http://pastebin.com/1KAErQFX
into verison 86d8f08

After few minutes of work I see
7932 UA_malloc and UA_calloc calls and
15803 UA_free calls

Clinet code
http://pastebin.com/g2qNZKUz
Unnecessary calls of UA_String_deleteMembers

[2015-09-02 18:10] Stasik0 commented on #372
It is not a problem as long as we free everything and do not free an address twice.

Freeing a null pointer is legal and has no action. Therefore, checking pointers for null for freeing is just dummy code.

Again, I'd suggest using a memory profiler like valgrind since it is far more sophisticated.

[2015-09-03 07:13] tpiat commented on #372
Too many malloc instead UA_malloc.

Close it please.

[2015-09-03 07:14] joyhope opened #373 "project source tree"
In the CMakelist.txt
[code]
The major source code is included partial codes in the examples.    Whether to created the ported directory

[code]
This may keep the library clear, and it will be easy for volunteer to add more platform layer in the future.

[2015-09-03 07:17] #372 closed

[2015-09-03 08:44] Stasik0 opened #374 "Write_Service makes too many copies"
Hey lines from server_variable.c

[code]

works as expected, the link between myInteger and the value in the node is lost.

Now consider this:

[code]

Reading works as expected - the integer value is linked through.

Now the integer is set in the variant, however the first write on the node fees the pointer and reallocates the memory, so there is no way to get the actual value (except for using d

[2015-09-03 09:09] Stasik0 opened #375 "Assymetric addnode API"
UA_Server_addDataSourceVariableNode
* UA_Server *server
* UA_DataSource dataSource
* const UA_QualifiedName browseName
* UA_NodeId nodeId
* const UA_NodeId parentNodeId
* const UA_NodeId referenceTypeId
* UA_NodeId *createdNodeId

UA_Server_addVariableNode
* UA_Server *server
* UA_NodeId nodeId
* const UA_QualifiedName browseName,
* UA_LocalizedText displayName
* UA_LocalizedText description
* con

[2015-09-03 10:59] FlorianPalm commented on #375
I agree to changing the functions to end up with a consistent api

[2015-09-03 11:19] ichrispa commented on #375
That is a slipup on my part. The order of the attributes is always:
  * server
  * BASANODEATTRIBUTS
  * NODETYPEATTRIBUES
  * createdNodeId
I do actually require this node order for the namespace compiler. If you change the orders, please also change the order in the compiler. Basetypes are printed by open62541_macrohelper.py, node specific attributes in their respective node class.

DataSourceVa

[2015-09-03 11:33] Stasik0 commented on #375
open problem: valueRank is in UA_Server_addVariableTypeNode, but not in UA_Server_addVariableNode

[2015-09-03 14:55] ichrispa commented on #375
There are several such inconsistencies. If you check the namespace_generated.c, you will find that the namespace compiler currently flags missing type fields as comments when calling addNode.

I was more interested in getting all addNode functions into a consistent state then to make all attributes accessable; partly because too many attributes may confuse users not that familiar with the OPC UA S

[2015-09-03 15:54] ichrispa commented on #374
imho:
A1: No, this is how the stack works; It creates copies of all data passed, not just variants. I perceive it as 'normal' in the sense that I got used to it. It is in sync with "the user has no direct nodestore access".
A2: Is the variant not copied before it is added to the node? If not, I would vote for that in order to keep things consistent.

It's not just values in my eyes. If you pass a